@charset "utf-8";
html,
body,
#app {
  height: 100%;
}

body {
  color: $text-color;
  font-size: $fontsize-default;
  background-color: $bg-color;
}
.page {
  min-height: 100%;
  &.white {
    background-color: white;
  }
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input,
button {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $theme-color;
}

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='button'],
textarea {
  width: 100%;
  -webkit-appearance: none !important;
  margin: 0;
  @include placeholder() {
    color: $text-color-gray;
  }
}

button {
  width: 100%;
  border: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.input {
  font-size: $fontsize-default;
  padding: 14px 20px;
  height: 70px;
  line-height: 42px;
  border-radius: $radius-s;
  border: 1px solid $border-color;
}

.clearfix {
  @include clearfix;
}

.dot {
  position: absolute;
  @include circle(12px);
  &.white {
    background-color: white;
  }
  &.red {
    background-color: #F4415F;
  }
}
.tag-1 {
  height: 32px;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: white;
  border-radius: 15px 15px 15px 0px;
  background-color: $theme-color;
}

.notice-count {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  font-size: 20px;
  height: 28px;
  padding: 0 4px;
  border-radius: 15px;
  color: white;
}

.fixed-bottom-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
}
.theme-btn {
  border: none;
  background-color: $theme-color;
  color: white;
}