@charset "utf-8";
html,
body,
#app {
  height: 100%;
}

body {
  color: var(--text-color);
  font-size: var(--font-size-normal);
}
.page {
  min-height: 100%;
}
img{
  display: block;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input,
button {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--theme-color);
}

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='button'],
textarea {
  width: 100%;
  -webkit-appearance: none !important;
  margin: 0;
  @include placeholder() {
    color: var(--text-color-gray);
  }
}

button {
  width: 100%;
  border: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.theme-text{
  color: var(--theme-color);
}

.gray-text{
  color: var(--text-color-gray);
}

.dark-text{
  color: var(--text-color-dark);
}

.error-text{
  color: var(--text-color-error);
}

.orange-text{
  color: var(--text-color-orange);
}

.clearfix {
  @include clearfix;
}
.van-pull-refresh__head{
  .van-loading {
    display: none;
  }
}
.van-toast{
  z-index: 9999;
}