@charset "utf-8";
html,
body,
#app {
  height: 100%;
}

body {
  color: $text-color;
  font-size: $fontsize-default;
  background-color: $bg-color;
}
.page {
  min-height: 100%;
  &.white {
    background-color: white;
  }
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input,
button {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $theme-color;
}

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='button'],
textarea {
  width: 100%;
  -webkit-appearance: none !important;
  margin: 0;
  @include placeholder() {
    color: $text-color-gray;
  }
}

button {
  width: 100%;
  border: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

@each $num in 5,10,15,20,25,30 {
  @each $direction in top,bottom,left,right {
    .m-#{$direction}-#{$num}{
      margin-#{$direction}: #{$num * 2}px;
    }
    .p-#{$direction}-#{$num}{
      margin-#{$direction}: #{$num * 2}px;
    }
  }
}

.input {
  font-size: $fontsize-default;
  padding: 14px 20px;
  height: 70px;
  line-height: 42px;
  border-radius: $radius-s;
  border: 1px solid $border-color;
}

.clearfix {
  @include clearfix;
}

.dot {
  position: absolute;
  @include circle(12px);
  &.white {
    background-color: white;
  }
  &.red {
    background-color: #f4415f;
  }
}
.tag-1 {
  height: 32px;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: white;
  border-radius: 15px 15px 15px 0px;
  background-color: $theme-color;
}

.notice-count {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  font-size: 20px;
  height: 28px;
  padding: 0 4px;
  border-radius: 15px;
  color: white;
  background: $error-color;
}

.fixed-bottom-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
}
.theme-btn {
  border: none;
  background-color: $theme-color;
  color: white;
}

.center-arrow {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  color: $text-color;
  opacity: 0.4;
}
.line{
  height: 1px;
  background-color: $text-color;
  opacity: 0.1;
}

@each $num in 10, 15, 20, 24, 30, 40, 50 {
  .mb-#{$num}{
    margin-bottom: #{$num}px;
  }
  .mt-#{$num}{
    margin-top: #{$num}px;
  }
}

.success-text{
  color: $success-color;
}
.warning-text{
  color: $warning-color;
}
.error-text{
  color: $error-color;
}
.gray-text{
  color: $text-color-gray;
}
.normal-text{
  color: $text-color;
}
.orange-text{
  color: $orange-text-color;
}
.theme-text{
  color: $theme-color
}
.van-button{
  &--primary{
    background-color: $theme-color;
    border: 1px solid $theme-color;
    &.van-button--disabled{
      background-color: $text-color-gray;
      border: 1px solid $text-color-gray;
    }
   &.van-button--plain{
      background-color: white;
      color: $theme-color !important;
      border: 1px solid $theme-color;
      &.van-button--disabled{
        background-color: white;
        color: $text-color-gray !important;
        border: 1px solid $text-color-gray;
      }
    }
  }
}
.row-flex{
  line-height: 38px;
  padding: 8px 0;
  background-color: white;
  &--between{
    @include flex-between;
    align-items:flex-start;
  }
  .label{
    flex-shrink: 0;
    color: $text-color-gray;
    word-break: break-all;
  }
  .value{
    text-align: right;
    word-break: break-all;
  }
}
.row-flex-wrap{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.title-gray{
  height: 70px;
  line-height: 70px;
  text-align: $text-color-gray;
}

.fixed-btn-wrap{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  font-size: 28px;
  .stress{
    color: $welfare-theme-color;
  }
  .van-button{
    border-radius: 8px;
  }
  .van-button + .van-button{
    margin-left: 20px;
  }
  .short-btn {
    width: 200px;
  }
}
h2.title{
  margin: 0;
  padding: 20px;
  font-weight: normal;
  font-size: 26px;
  line-height: 48px;
  color: $text-color-tip;
}

.star{
  color: $error-color;
}
