@charset "UTF-8";
// 机构选择公用样式
@keyframes turn {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(180deg);
    }
}

@-webkit-keyframes turn {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(180deg);
    }
}

@keyframes turn2 {
    0% {
        top: -100%;
    }
    100% {
        top: px2rem(80px);
    }
}

@-webkit-keyframes turn2 {
    0% {
        top: -100%;
    }
    100% {
        top: px2rem(80px);
    }
}

.show {
    display: block !important;
}

.btn-green {
    text-align: center;
    border-radius: px2rem($radius-s);
    color: #fff;
    @include font-dpr(30px);
    background-color: $color-primary;
    height: px2rem(70px);
    line-height: px2rem(70px);
    box-shadow: 0 px2rem(36px) px2rem(50px) px2rem(-28px) rgba(54, 179, 179, 1);
    &:disabled {
        opacity: 0.6;
    }
}

.btn-green-reverse {
    text-align: center;
    border: 1px solid $fx-main-color;
    color: $fx-main-color;
    background: white;
    border-radius: px2rem($radius-s);
}

.group-select {
    padding-top: px2rem(80px);
    min-height: 100%;
    box-sizing: border-box;
    .turn {
        -webkit-animation: turn .4s linear both;
        animation: turn .4s linear both;
    }
    .turn-off {
        -webkit-animation: turn2 .4s linear both;
        animation: turn2 .4s linear both;
    }
    .current {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: px2rem(80px);
        line-height: px2rem(80px);
        background: #fff;
        text-align: center;
        @include font-dpr(26px);
        border-bottom: 1px solid #DFDFDF;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        .name {
            max-width: px2rem(580px);
            @extend %text-overflow;
        }
        .img {
            margin-left: px2rem(5px);
        }
    }
    .group-list {
        width: 100%;
        position: absolute;
        display: none;
        top: px2rem(80px);
        left: 0;
        background: #fff;
        padding: px2rem(25px);
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
        .group-item {
            display: flex;
            justify-content: space-around;
            position: relative;
            margin-bottom: px2rem(24px);
            height: px2rem(80px);
            width: 100%;
            padding: 0 px2rem(20px);
            box-sizing: border-box;
            border: 1px solid $color-text-gray;
            border-radius: px2rem(4px);
            line-height: px2rem(80px);
            p {
                @extend %text-overflow;
            }
        }
    }
}

// 统计页面头部卡片样式
.proportion-bg {
    padding: px2rem(24px);
}

.proportion {
    width: 100%;
    height: px2rem(240px);
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: px2rem(20px) px2rem(30px) 0;
}

.pro-hread {
    height: px2rem(42px);
    width: 100%;
    line-height: px2rem(42px);
    @include font-dpr(30px);
    h2 {
        width: 80%;
        @extend %text-overflow;
        float: left;
    }
    span {
        float: right;
    }
    em {
        font-weight: bold;
        vertical-align: middle;
    }
    .icon-wenhao {
        padding: px2rem(20px);
        @include font-dpr(24px);
        margin-left: px2rem(-20px);
    }
    .iconfont {
        color: #ccc;
    }
    .icon-flag {
        @include font-dpr(48px);
        padding: px2rem(15px) px2rem(20px);
        margin-right: px2rem(-20px);
        float: right;
        position: relative;
        top: px2rem(-15px);
    }
}

.pro-main {
    @include font-dpr(22px);
    height: px2rem(80px);
    margin-top: px2rem(30px);
    line-height: px2rem(30px);
    i,
    span {
        display: inline-block;
    }
    .icon-red {
        color: #ff6848;
    }
    .icon-blue {
        color: #32a2f2;
    }
    .iconfont {
        position: absolute;
        top: px2rem(-16px);
        @include font-dpr(30px);
    }
    li {
        em {
            position: relative;
            display: inline-block;
            @include font-dpr(22px);
            line-height: px2rem(40px);
        }
        span {
            @include font-dpr(32px);
            line-height: px2rem(40px);
            font-weight: bold;
            margin-top: px2rem(10px);
            em {
                @include font-dpr(22px);
                font-weight: normal;
                margin-right: px2rem(10px);
            }
        }
        &:first-child {
            float: left;
            span {
                color: $fx-main-color;
            }
            .iconfont {
                right: px2rem(-66px);
            }
        }
        &:last-child {
            float: right;
            text-align: end;
            span {
                color: $fx-reverse-color;
            }
            .iconfont {
                left: px2rem(-66px);
            }
        }
    }
}

.pro-last {
    @include font-dpr(22px);
    line-height: px2rem(28px);
    margin-top: px2rem(30px);
    color: $color-text-gray;
    text-align: center;
    span {
        color: $color-text-default;
    }
}

// amtPercentLine组件样式
.percent-line-wrap {
    padding: 0;
    margin-top: px2rem(16px);
    height: px2rem(16px);
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: px2rem(-7px);
        top: px2rem(-6px);
        width: px2rem(37px);
        height: px2rem(22px);
        background: url("../img/icon-left1.png") no-repeat center;
        background-size: 100% 100%;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        right: px2rem(-7px);
        top: px2rem(-6px);
        width: px2rem(34px);
        height: px2rem(22px);
        background: url("../img/icon-right1.png") no-repeat center;
        background-size: 100% 100%;
    }
    .item {
        height: 100%;
        &:first-child {
            position: absolute;
            left: px2rem(0px);
            top: px2rem(1px);
            max-width: 93% !important;
            min-width: px2rem(26px) !important;
            border-top: px2rem(14px) solid $fx-main-color;
            border-right: px2rem(14px) solid transparent;
        }
        &:last-child {
            position: absolute;
            right: px2rem(0px);
            top: 0;
            max-width: 94% !important;
            min-width: px2rem(36px) !important;
            border-bottom: px2rem(14px) solid $fx-reverse-color;
            border-left: px2rem(14px) solid transparent;
        }
    }
}

// 选择年份swiper样式
.year-swiper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: px2rem(68px);
    background: #FFFFFF;
    border-top: 1px solid #dfdfdf;
    &:before {
        content: '';
        display: block;
        background: #fff;
        width: 20%;
        height: px2rem(16px);
        border: 1px solid #dfdfdf;
        border-radius: px2rem(18px) px2rem(18px) 0 0;
        border-bottom: 0;
        position: absolute;
        z-index: 20;
        top: px2rem(-16px);
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        left: 0;
    }
    .swiper-slide {
        width: 20%;
    }
    .item-bg {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .swiper-slide-active {
        .span-bg {
            color: $color-text-default;
            @include font-dpr(32px);
            height: px2rem(54px);
            line-height: px2rem(54px);
        }
        .span {
            height: px2rem(54px);
            &:before {
                top: px2rem(-13px);
                width: px2rem(48px);
                height: px2rem(13px);
                background: url("../img/icon-new-active.png") no-repeat center;
                background-size: 100% 100%;
            }
        }
    }
    .span-bg {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        height: px2rem(45px);
        line-height: px2rem(45px);
        color: #666;
        @include font-dpr(26px);
    }
    .span {
        display: inline-block;
        height: 100%;
        position: relative;
        height: px2rem(45px);
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: px2rem(-9px);
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            width: px2rem(32px);
            height: px2rem(9px);
            background: url("../img/icon-new.png") no-repeat center;
            background-size: 100% 100%;
        }
    }
}

// 背景蒙层
.v-modal {
    background: $color-text-default;
    opacity: 0.6;
    -webkit-animation: move2 1s linear both;
    animation: move2 1s linear both;
    position: absolute;
}

// 描述语样式
.choose-tips {
    width: 100%;
    @include font-dpr($fontsize-m);
    text-align: center;
    color: $color-text-default;
    margin-bottom: px2rem(60px);
}

// 按钮样式
.blue-btn {
    margin-top: px2rem(40px);
    width: 100%;
    height: px2rem(70px);
    line-height: px2rem(70px);
    color: #fff;
    @include font-dpr(30px);
    background-color: $color-primary;
    border-radius: px2rem($radius-s);
    box-shadow: 0 px2rem(36px) px2rem(50px) px2rem(-28px) rgba(54, 179, 179, 1);
}

.point {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    padding: 0 px2rem(80px) px2rem(70px);
    line-height: px2rem(33px);
    .iconfont {
        color: $color-text-tone;
        @include font-dpr(60px);
        line-height: px2rem(66px);
        margin-right: px2rem(12px);
    }
}

.font-999 {
    color: #999;
}

.color-ratio {
    color: #f44336 !important;
}

.blue-ratio {
    color: $fx-main-color;
}

.pagination-bullet {
    width: px2rem(16px);
    height: px2rem(16px);
    margin: 0 px2rem(5px);
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
}

.pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

.swiper-pagination-progress {
    background-color: rgba(0, 0, 0, 0.05);
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background-color: #4fbbbb !important;
}

.pa-3 {
    width: px2rem(10px) !important;
    height: px2rem(10px) !important;
    margin: 0 px2rem(4px) !important;
}



// 加载中样式重置
.mint-indicator-wrapper {
    background-color: transparent !important;
}

.mint-spinner-double-bounce-bounce1,
.mint-spinner-double-bounce-bounce2 {
    background-color: #4fbbbb !important;
}

//
.get-id-page {
    height: 100%;
    .loading-wrap {
        position: absolute;
        left: 50%;
        top: 30%;
        margin-left: px2rem(-80px);
        .loading-img {
            display: block;
            @include square(px2rem(160px));
        }
        .loading-text {
            text-align: center;
            margin-top: px2rem(20px);
            color: #ccc;
        }
    }
}

//
.feed-back-page,
.no-salary-page {
    text-align: center;
    padding-top: px2rem(220px);
    color: $color-text-tone;
    .big-title {
        padding-bottom: px2rem(30px);
        @include font-dpr(42px);
    }
}

//
.home-page {
    height: 100%;
    position: relative;
    .banner {
        height: px2rem(340px);
        margin-bottom: px2rem($space-normal);
        .img {
            width: 100%;
        }
    }
    .links-wrap {
        height: px2rem(314px);
        background: white;
        display: flex;
        -webkit-display: flex;
        @include font-dpr(28px);
    }
    .link-right {
        flex: 1;
        -webkit-flex: 1;
    }
    .my-income {
        width: px2rem(266px);
        border-right: 1px solid $color-border-gray;
        padding: px2rem(44px) px2rem(30px);
        line-height: px2rem(32px);
        background: url('../img/icon-my-income.png') no-repeat center px2rem(80px);
        background-size: px2rem(200px) auto;
    }
    .recent-one {
        color: $color-text-gray;
        @include font-dpr(22px);
        margin-top: px2rem(12px);
    }
    .hx-manager {
        position: relative;
        height: px2rem(156px);
        line-height: px2rem(156px);
        padding-left: px2rem(44px);
        border-bottom: 1px solid $color-border-gray;
        background: url('../img/icon-hx-manager.png') no-repeat px2rem(206px) px2rem(34px);
        background-size: px2rem(126px) auto;
    }
    .news-flag {
        position: absolute;
        top: px2rem(22px);
        right: px2rem(24px);
        height: px2rem(26px);
        line-height: px2rem(26px);
        padding: 0 px2rem(8px);
        @include linear-gradient(0deg,
        #FF8484,
        #FF5F21);
        border-radius: px2rem(20px);
        color: white;
        @include font-dpr(18px);
    }
    .box {
        float: left;
        width: 50%;
        height: px2rem(156px);
        text-align: center;
        padding-top: px2rem(30px);
    }
    .invoice-info {
        background: url('../img/icon-invoice.png') no-repeat center px2rem(76px);
        background-size: px2rem(66px) px2rem(46px);
        border-right: 1px solid $color-border-gray;
    }
    .person-info {
        background: url('../img/icon-person.png') no-repeat center px2rem(74px);
        background-size: px2rem(56px) px2rem(50px);
    }
    .bottom-logo {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: px2rem(50px);
        text-align: center;
        img {
            display: inline-block;
            height: px2rem(30px);
            margin-right: px2rem(60px);
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

//
.institution-page {
    padding-bottom: px2rem(98px);
    .star {
        letter-spacing: px2rem(6px);
        padding-left: px2rem(6px);
    }
    .group-list {
        .icon-yilizhi {
            position: absolute;
            z-index: 50;
            right: px2rem(20px);
            top: px2rem(4px);
            display: block;
            width: px2rem(118px);
            height: px2rem(64px);
            text-align: center;
            line-height: px2rem(64px);
            @include font-dpr(60px);
            color: #6F8F8F;
        }
        .icon-jiaobiao {
            position: absolute;
            right: px2rem(20px);
            top: px2rem(-4px);
            @include font-dpr(30px);
            line-height: px2rem(30px);
            color: #FB5D5D;
            &:after {
                content: '新';
                position: absolute;
                left: 0;
                width: 100%;
                text-align: center;
                @include font-dpr(18px);
                line-height: px2rem(28px);
                color: white;
            }
        }
        .recent {
            color: #999999;
            @include font-dpr(18px);
            text-align: right;
            width: 120px;
        }
        .group-name {
            flex: 1;
        }
        .iconNew {
            position: absolute;
            z-index: 60;
            right: px2rem(20px);
            top: px2rem(-4px);
            width: px2rem(28px);
            height: px2rem(30px);
        }
    }
    .bill-list {
        padding: 0 px2rem(30px) px2rem(30px);
        li {
            margin-bottom: px2rem(24px);
            height: px2rem(140px);
            &:active {
                .bill-main {
                    transform: scale(0.9);
                    -webkit-transform: scale(0.9);
                }
            }
            &:last-child {
                .bill-date {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .bill-date {
        float: left;
        position: relative;
        @include font-dpr(22px);
        line-height: px2rem(30px);
        width: px2rem(60px);
        text-align: center;
        color: #666666;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: px2rem(-2px);
            bottom: px2rem(-128px);
            width: px2rem(4px);
            height: px2rem(128px);
            background: #E7EAEE;
        }
    }
    .bill-main {
        float: right;
        padding: px2rem(34px);
        width: px2rem(516px);
        height: px2rem(148px);
        position: relative;
        background: url('../img/bill-item-bg.png') no-repeat;
        background-size: 100% 100%;
    }
    .item_before {
        position: absolute;
        left: px2rem(4px);
        top: px2rem(2px);
        height: px2rem(141px);
        width: px2rem(8px);
        border-radius: 4px 0 0 4px;
        background: $fx-main-color;
    }
    .bill-left {
        float: left;
    }
    .bill-type {
        height: px2rem(34px);
        line-height: px2rem(34px);
        @include font-dpr(24px);
        i,
        span {
            display: inline-block;
            vertical-align: middle;
        }
        i {
            margin-right: px2rem(5px);
            @include font-dpr(40px);
        }
    }
    .bill-name {
        margin-top: px2rem(17px);
        width: px2rem(250px);
        @include font-dpr(22px);
        line-height: px2rem(30px);
        color: #999999;
        @extend %text-overflow;
    }
    .bill-right {
        float: right;
        margin-top: px2rem(20px);
        @include font-dpr(20px);
        color: $fx-main-color;
        line-height: px2rem(44px);
        span {
            font-weight: bold;
            @include font-dpr(32px);
        }
    }
    .pop-dialog {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
        border-radius: 4px;
        padding: px2rem(40px) px2rem(35px) px2rem(60px);
        width: px2rem(500px);
        box-sizing: border-box;
    }
    .content {
        @include font-dpr(26px);
        color: #333333;
        font-weight: bold;
        line-height: px2rem(44px);
        text-indent: 2em;
        .blue-btn {
            box-shadow: 0 4px 12px 0 rgba(82, 189, 189, 0.50);
            @include font-dpr(28px);
            width: px2rem(250px);
            height: px2rem(70px);
            margin-top: px2rem(50px);
            position: relative;
            left: 50%;
            top: 0;
            margin-left: px2rem(-125px);
        }
    }
    .proportion {
        height: px2rem(284px);
    }
    .pro-bottom {
        &:before {
            background: url("../img/icon-left1.png") no-repeat center;
            background-size: px2rem(37px) px2rem(22px);
        }
        &:after {
            background: url("../img/icon-right1.png") no-repeat center;
            background-size: px2rem(37px) px2rem(22px);
        }
    }
}

// 绑定身份证页面
.bind-id-card-page,
.choose-phone-page,
.send-code-page {
    height: 100%;
    .logo-wrap {
        padding: px2rem(70px) 0 px2rem(60px);
        text-align: center;
    }
    .logo {
        width: px2rem(200px);
        height: px2rem(200px);
        margin: 0 auto;
    }
    .card-form {
        padding: 0 px2rem(40px);
        .input {
            margin-bottom: px2rem(40px);
        }
        .code-wrap {
            height: px2rem(68px);
            background: white url('../img/input-line.png') no-repeat center center;
            background-size: 100%;
            border: 1px solid $color-border-default;
            border-radius: px2rem($radius-s);
            .code-item {
                float: left;
                width: 16.667%;
                text-align: center;
                line-height: px2rem(68px);
            }
        }
        .code-input {
            position: absolute;
            opacity: 0;
            line-height: 1;
            &.hidden {
                @include transform(translateX(-100%));
            }
        }
        .get-code-btn {
            margin-top: px2rem(60px);
            text-align: center;
            color: $color-text-tone;
            &.disabled {
                color: $color-text-gray
            }
        }
    }
    .tip {
        text-align: center;
        line-height: px2rem(32px);
        margin-bottom: px2rem(60px);
    }
    .phone-item {
        background: white;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        &.active {
            background: $color-text-tone;
            color: white;
            .phone,
            .count {
                color: white;
            }
        }
        .phone {
            color: $color-text-tone;
        }
        .count {
            @include font-dpr(22px);
            color: $color-text-gray;
        }
    }
    .point {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

// 身份证已被绑定
.card-binded-page,
.phone-empty-page {
    padding: px2rem(60px) px2rem(40px) 0;
    .message-box {
        height: px2rem(296px);
        margin-bottom: px2rem(60px);
        padding-top: px2rem(80px);
        background: #fff;
        border-radius: px2rem(10px);
        text-align: center;
        .normal {
            color: #333;
            line-height: px2rem(36px);
        }
        .tip-error {
            @include font-dpr($fontsize-m);
            margin-bottom: px2rem(18px);
            height: px2rem(37px);
            color: #f44336;
            line-height: px2rem(37px);
            i {
                @include font-dpr(30px);
                margin-right: px2rem(16px);
            }
        }
    }
}

// 发票页面
.invoice-page {
    position: relative;
    color: #333;
    padding-top: px2rem(80px);
    min-height: 100%;
    .pop-bg {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .pop-hui {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
        z-index: 20;
    }
    .pop {
        width: 100%;
        height: 100%;
        background: transparent;
    }
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: px2rem(-272px);
        margin-top: px2rem(-456px);
        z-index: 20;
        width: px2rem(544px);
        height: px2rem(912px);
        padding: px2rem(20px) px2rem(25px) px2rem(102px);
        box-sizing: border-box;
        background: url('../img/invoice-pop-bg.png') no-repeat center top;
        background-size: 100% auto;
        .title {
            height: px2rem(84px);
            width: 100%;
            line-height: px2rem(84px);
            text-align: center;
            color: #fff;
            @include font-dpr(32px);
        }
    }
    .content-ul-bg {
        position: relative;
        width: 100%;
        height: px2rem(570px);
    }
    .content-ul {
        @include font-dpr(20px);
        width: 100%;
        height: 100%;
        line-height: px2rem(36px);
        color: #999999;
        padding: px2rem(16px) px2rem(40px) 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        li {
            margin-bottom: px2rem(20px);
        }
        .title-2 {
            @include font-dpr(26px);
            line-height: px2rem(36px);
            font-weight: bold;
            color: #8A8A8A;
            padding: px2rem(12px) 0;
            border-bottom: 1px solid #DCDCDC;
        }
        p {
            margin-top: px2rem(12px);
        }
        em {
            font-weight: bold;
        }
    }
    .content-shadow {
        position: absolute;
        bottom: px2rem(-5px);
        left: 50%;
        margin-left: px2rem(-225px);
        width: px2rem(450px);
        height: px2rem(70px);
        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 74%);
    }
    .pop-close {
        margin-top: px2rem(112px);
        text-align: center;
        i {
            padding: px2rem(20px);
            color: #fff;
            margin: 0 auto;
            @include font-dpr(50px);
            line-height: px2rem(90px);
        }
    }
    .wacth-out {
        width: px2rem(144px);
        height: px2rem(145px);
        position: fixed;
        right: 0;
        bottom: px2rem(73px);
        &.move-in {
            -webkit-animation: move-in .5s both;
            animation: move-in .5s both;
        }
        &.move-out {
            -webkit-animation: move-out .5s linear both;
            animation: move-out .5s linear both;
        }
    }
    .null {
        margin-top: px2rem(40px);
        line-height: px2rem(36px);
        @include font-dpr(26px);
        text-align: center;
        color: #999999;
    }
    .main,
    .main-next {
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        border-radius: px2rem(6px);
        box-sizing: border-box;
        margin: px2rem(25px) px2rem(25px) 0;
    }
    .main {
        padding: px2rem(26px);
    }
    .main-next {
        padding: px2rem(44px) 0;
        @include font-dpr(22px);
        color: #999999;
        text-align: center;
        line-height: px2rem(30px);
        margin-bottom: px2rem(25px);
        img {
            width: px2rem(200px);
            height: auto;
            margin: 0 auto;
            margin-bottom: px2rem(20px);
        }
    }
    .invoice-type {
        width: 100%;
        height: px2rem(42px);
        p {
            float: left;
            font-weight: bold;
            @include font-dpr(30px);
            line-height: px2rem(42px);
        }
    }
    .switch {
        line-height: px2rem(42px);
        @include font-dpr(22px);
        color: #52BDBD;
        float: right;
        i {
            @include font-dpr(30px);
            vertical-align: middle;
        }
        span {
            vertical-align: middle;
        }
    }
    .msg {
        li {
            margin-top: px2rem(26px);
            @include font-dpr(26px);
            line-height: px2rem(38px);
            div {
                word-wrap: break-word;
            }
            span,
            i {
                vertical-align: middle;
            }
            i {
                color: #52BDBD;
                @include font-dpr(30px);
                margin-left: px2rem(16px);
            }
        }
    }
    .null-msg {
        color: #666666;
    }
    .item-name {
        line-height: px2rem(30px);
        @include font-dpr(22px);
        color: #999999;
        margin-bottom: px2rem(12px);
    }
}

// 个人信息页面
.personal-page {
    width: 100%;
    @include font-dpr($fontsize-m);
    .swiper-slide {
        padding: px2rem(40px) px2rem(25px) px2rem(25px);
    }
    .item-box {
        border: 1px solid #d5d5d5;
        border-radius: px2rem(5px);
        margin-bottom: px2rem(25px);
        background: #fff;
        .group-name {
            font-weight: bold;
            text-align: center;
            line-height: px2rem(110px);
            height: px2rem(110px);
            display: block;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        li {
            height: px2rem(90px);
            width: 100%;
            border-bottom: 1px solid #d5d5d5;
            box-sizing: border-box;
            padding: 0 px2rem(25px);
            line-height: px2rem(90px);
            span {
                color: #999;
                float: right;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    .swiper-pagination{
      top:0 !important;
      height: px2rem(6px) !important;
      display: flex;
      align-items: center;
      .swiper-pagination-bullet{
        height: px2rem(6px);
        flex:1;
        background: #999;
        border-radius: 0;
        margin: 0 !important;
      }
      .swiper-pagination-bullet-active{
        background:$fx-main-color;
      }
    }
}

//
.manager-business-page {
    .list {
        height: px2rem(212px);
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        background: white;
    }
    .item {
        flex: 1;
        -webkit-flex: 1;
        text-align: center;
        padding: px2rem(20px) 0;
        .icon {
            width: px2rem(56px);
            margin-bottom: px2rem(20px);
            display: inline-block;
            @include font-dpr(40px);
        }
    }
}

//
.manager-contact-page {
    .list {
        background: white;
    }
    .item {
        display: flex;
        min-height: px2rem(88px);
        padding: px2rem(24px) px2rem(30px);
        @include font-dpr(26px);
        line-height: px2rem(38px);
        border-bottom: 1px solid $color-border-gray;
        align-items: center;
    }
    .label {
        color: $color-text-dark;
        width: px2rem(114px);
    }
    a {
        color: $color-text-gray;
    }
    .value {
        flex: 1;
        -webkit-flex: 1;
        text-align: right;
        color: $color-text-gray;
        @include word-break;
    }
    .v-arrow {
        margin-left: px2rem(12px);
        @include v-arrow(right,
        px2rem(2px),
        px2rem(16px));
    }
}

//
.manager-msg-page {
    position: absolute;
    top: px2rem(360px);
    left: 0;
    width: 100%;
    bottom: 0;
}

//
.manager-page {
    height: 100%;
    .no-manager {
        height: 100%;
        background: white;
        color: $color-text-tip;
        @include font-dpr(26px);
        text-align: center;
        padding-top: px2rem(270px);
        .img {
            display: inline-block;
            margin-bottom: px2rem(34px);
            &-status-one {
                width: px2rem(180px);
                height: px2rem(162px);
            }
            &-status-two {
                width: px2rem(218px);
                height: px2rem(164px);
            }
        }
        .tip {
            line-height: px2rem(38px);
        }
        .btn {
            width: px2rem(210px);
            height: px2rem(70px);
            margin-top: px2rem(32px);
            border-radius: px2rem($radius-xs);
            @include font-dpr(28px);
            &-green {
                background: $fx-main-color;
                color: white;
            }
            &-gray {
                background: $btn-bg-gray;
                color: #9DA6A6;
            }
        }
    }
    .has-manager {
        height: 100%;
        display: flex;
        flex-direction: column;
        color: $color-text-dark;
        .outline-info-wrap {
            height: px2rem(274px);
            text-align: center;
            padding-top: px2rem(50px);
            background: url('../img/fx-manager-bg.png') no-repeat center center;
            background-size: 100% 100%;
        }
        .manager-img {
            @include circle(px2rem(112px));
            @include center-block;
            border: px2rem(4px) solid white;
            margin-bottom: px2rem(14px);
            overflow: hidden;
            img {
                @include square(px2rem(104px));
            }
        }
        .manager-name {
            line-height: px2rem(40px);
            color: white;
            @include font-dpr($fontsize-m);
        }
    }
    .tab-list {
        background: white;
        height: px2rem(88px);
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        margin-bottom: px2rem($space-normal);
    }
    .tab-item {
        height: px2rem(88px);
        line-height: px2rem(88px);
        width: px2rem(150px);
        position: relative;
        text-align: center;
        &.active {
            color: $fx-main-color;
            border-bottom: px2rem(4px) solid $fx-main-color;
        }
        &.has-news:after {
            content: '';
            position: absolute;
            right: px2rem(18px);
            top: px2rem(24px);
            @include circle(px2rem(14px));
            background: #FB3636;
            box-sizing: border-box;
            border: px2rem(2px) solid white;
        }
    }
}

//
.ewm-wrap {
    width: px2rem(476px);
    padding: px2rem(40px);
    background: white;
    color: #656E75;
    line-height: px2rem(32px);
    border-radius: $radius-s;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.20);
    text-align: center;
    .close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        padding: px2rem(24px);
        @include font-dpr(32px);
    }
    .ewm {
        width: px2rem(296px);
        min-height: px2rem(240px);
        max-height: px2rem(350px);
        border: 1px solid $color-border-gray;
        margin: px2rem(36px) auto;
    }
    .tip {
        margin-bottom: px2rem(20px);
    }
}
.copy-popup{
  width: 90%;
  padding: px2rem(30px);
  border-radius: px2rem(10px);
  .tip{
    padding: px2rem(30px) 0;
    text-align: center;
    @include font-dpr(26px);
  }
  .text{
    height: px2rem(70px);
    line-height: px2rem(70px);
    border: 1px solid $color-border-default;
    border-radius:$radius-xs;
    padding: 0 px2rem(20px);
  }
  .close-btn{
    width: 100%;
    height: px2rem(70px);
    line-height: px2rem(70px);
    text-align: center;
    background: $fx-main-color;
    color: white;
    border-radius:$radius-xs;
    margin-top: px2rem(30px);
  }
}
//
.msg-box {
    position: relative;
    height: 100%;
    text-align: center;
    padding-bottom: px2rem(98px);
    .msg-list-wrap {
        position: absolute;
        left: 0;
        top: px2rem(10px);
        width: 100%;
        bottom: px2rem(98px);
        padding: 0 px2rem(30px) px2rem(20px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .loading {
            color: #AFBBC4;
        }
        .time {
            display: inline-block;
            height: px2rem(32px);
            line-height: px2rem(32px);
            @include font-dpr(20px);
            background: #EBEDEF;
            border-radius: px2rem(36px);
            color: #AFBBC4;
            padding: 0 px2rem(20px);
            margin: px2rem(20px) 0;
        }
        .item {
            display: flex;
            display: -webkit-flex;
            text-align: left;
            .triangle {
                position: absolute;
                top: px2rem(26px);
            }
        }
        .pic {
            @include square(px2rem(66px));
            text-align: center;
            line-height:px2rem(66px);
            color: white;
            background: #52BDBD;
            img {
                @include square(px2rem(66px));
            }
            &.manager{
              background:#d6d6d6;
            }
        }
        .con {
            flex: 1;
            -webkit-flex: 1;
            position: relative;
            padding: px2rem(14px) px2rem(22px);
            @include font-dpr(26px);
            line-height: px2rem(38px);
            border-radius: px2rem($radius-xs);
            word-break: break-all;
        }
        .self {
            padding-left: px2rem(66px);
            .con {
                order: 1;
                margin-right: px2rem(18px);
                background: $fx-main-color;
                color: white;
            }
            .pic {
                order: 2;
            }
            .triangle {
                left: 100%;
                @include triangle(right, px2rem(8px), $fx-main-color);
            }
        }
        .manager {
            padding-right: px2rem(66px);
            .con {
                order: 2;
                margin-left: px2rem(18px);
                border: 1px solid $color-border-gray;
                box-shadow: 0 px2rem(2px) 1px 0 rgba(0, 0, 0, 0.04);
                background: white;
            }
            .pic {
                order: 1;
            }
            .triangle {
                left: px2rem(-8px);
                @include square(px2rem(12px));
                background: white;
                border: 1px solid #E5E6E7;
                box-shadow: 0 px2rem(2px) 1px 0 rgba(0, 0, 0, 0.01);
                @include transform(rotate(45deg));
                &:after {
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    @include triangle(bottom, px2rem(16px),white);
                    // @include transform(rotate(90deg));
                }
            }
        }
        .no-msg {
            padding-top: 40%;
            color: #AFBBC4;
            @include font-dpr(28px);
        }
    }
    .bottom-input {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: px2rem(98px);
        padding: 0 px2rem(30px);
        background: white;
        border: 1px solid $color-border-gray;
        .input-wrap {
            height: 100%;
            display: flex;
            display: -webkit-flex;
            align-items: center;
        }
        .input {
            flex: 1;
            -webkit-flex: 1;
            height: px2rem(60px);
            padding: px2rem(10px) px2rem(20px);
            line-height: px2rem(40px);
            border: 1px solid $color-border-gray;
        }
        .btn {
            width: px2rem(100px);
            height: px2rem(60px);
            line-height: px2rem(60px);
            @include linear-gradient(-180deg,
            #F7F7F7 0%,
            #EBEBEB 100%);
            background: $fx-main-color;
            color: white;
            border-radius: 0 px2rem($radius-xs) px2rem($radius-xs) 0;
            @include font-dpr(28px);
        }
    }
}

//
.question-page {
    position: relative;
    padding: px2rem(30px);
    min-height: 100%;
    background: #fff;
    .question-textarea {
        width: 100%;
        padding: px2rem(26px);
        box-sizing: border-box;
        height: px2rem(400px);
        background: #FAFAFA;
        line-height: px2rem(38px);
        @include font-dpr(26px);
        border: 1px solid #CCCCCC;
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        resize: none;
        @include placeholder {
            color: $color-text-gray;
        }
    }
    .btn {
        margin-top: px2rem(50px);
        &:disabled {
            opacity: 1;
            background: #EDF0F0;
            box-shadow: none;
            color: #B4BABA;
        }
    }
}

// trend
.trend-page {
    @include font-dpr(26px);
    color: #333;
    padding-bottom: px2rem(122px);
    .choose {
        width: 100%;
        height: px2rem(80px);
        text-align: center;
        line-height: px2rem(80px);
        background: #fff;
        border-bottom: 1px solid #DFDFDF;
        .choose-this {
            border: 0;
            color: #fff;
            background: #52BDBD;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 px2rem(12px);
            width: px2rem(176px);
            height: px2rem(50px);
            border: 1px solid #52BDBD;
            border-radius: 2px;
            line-height: px2rem(50px);
            color: #52BDBD;
        }
    }
    .chart-wrap {
        padding-top: px2rem(40px);
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    }
}

// manager-detail-page
.manager-detail-page {
    height: 100%;
    position: relative;
    padding-top: px2rem(30px);
    .msg-box-wrap{
      position: absolute;
      top: px2rem(290px);
      bottom: 0;
      left: 0;
      width: 100%;
    }
}

// manager-info-box
.manager-info-box {
    margin: 0 px2rem(30px);
    background: white;
    box-shadow: 0 0 px2rem(18px) 0 rgba(0, 0, 0, 0.10);
    border-radius: $radius-s;
    .box {
        position: relative;
        padding: px2rem(30px) px2rem(30px) 0;
    }
    .code {
        position: absolute;
        right: 0;
        top: px2rem(12px);
        width: px2rem(168px);
        height: px2rem(42px);
        line-height: px2rem(42px);
        text-align: center;
        color: $fx-main-color;
        border-radius: px2rem(42px) 0 0 px2rem(42px);
        @include font-dpr(18px);
        @include linear-gradient(-180deg,
        #F4FAFA 0%,
        #E6F4F4 100%);
    }
    .main-wrap {
        display: flex;
        display: -webkit-flex;
    }
    .pic-wrap {
        @include circle(102px);
        overflow: hidden;
        margin-right: px2rem(30px);
        background: $color-border-default;
        .pic {
            @include square(100%);
        }
    }
    .text-wrap {
        flex: 1;
        -webkit-flex: 1;
    }
    .item {
        @include word-break;
        @include font-dpr(22px);
        color: #757C7F;
        display: flex;
        display: -webkit-flex;
        .label {
            width: px2rem(60px);
        }
        .value {
            flex: 1;
            -webkit-flex: 1;
        }
    }
    .name {
        margin-bottom: px2rem(6px);
        @include font-dpr(26px);
        .iconfont {
            padding: 0 px2rem(15px);
            @include font-dpr(24px);
        }
    }
    .action-wrap {
        padding: px2rem(30px) 0;
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
    }
    .btn {
        width: px2rem(246px);
        height: px2rem(40px);
        line-height: px2rem(40px);
        cursor: pointer;
    }
}

// bill-index-page
.bill-index-page {
    position: relative;
    padding: px2rem(340px) px2rem(40px) 0;
    background: url('../img/bill-index-bg.png') no-repeat;
    background-size: 100% auto;
    @include font-dpr(26px);
    .manager-box {
        width: px2rem(110px);
        height: px2rem(146px);
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        position: absolute;
        right: px2rem(40px);
        top: px2rem(45px);
        background: #fff;
        box-shadow: 0 0 px2rem(20px) 0 rgba(0, 0, 0, 0.20);
        border-radius: px2rem($radius-xs);
        line-height: px2rem(40px);
        text-align: center;
        .pic {
            width: 100%;
            height: px2rem(108px);
        }
        .title {
            position: relative;
        }
        .new-flag {
            position: absolute;
            right: px2rem(4px);
            top: px2rem(2px);
            @include circle(12px);
            background: #F34B21;
            border: 2px solid #FFFFFF;
        }
    }
    .bill-index-main {
        height: px2rem(520px);
        background: #fff;
        border-radius: px2rem(20px) px2rem(20px) 0 0;
        position: relative;
    }
    .fx-logo {
        position: absolute;
        left: 50%;
        top: 0;
        margin-top: px2rem(-90px);
        margin-left: px2rem(-90px);
        @include circle(px2rem(180px));
        background: #fff;
        box-shadow: 0 7px 10px 0 rgba(201, 205, 216, 0.52);
        overflow: hidden;
        img {
            @include circle(180px);
        }
    }
    .bill-item {
        padding-top: px2rem(120px);
        text-align: center;
    }
    .swiper-pagination {
        padding-left: px2rem(px2rem(26px));
        top: px2rem(26px);
        height: px2rem(14px);
        text-align: left;
        line-height: 1;
    }
    .swiper-pagination-bullet {
        @include square(px2rem(14px));
        vertical-align: top;
        background: #D6F3F2;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #41CDCA;
    }
    .bank {
        display: flex;
        display: -webkit-flex;
        height: px2rem(34px);
        align-items: center;
        justify-content: center;
    }
    .bank-logo {
        height: px2rem(26px);
        margin-right: px2rem(8px);
    }
    .amt-wrap {
        padding: px2rem(24px) 0;
        .amt {
            position: relative;
            @include font-dpr(64px);
            line-height: 1;
        }
        .iconfont {
            position: absolute;
            top: px2rem(10px);
            right: px2rem(90px);
            @include font-dpr(46px);
            color: $color-text-gray;
        }
    }
    .amt-title {
        margin-bottom: px2rem(40px);
        color: $color-text-gray;
    }
    .diff-wrap {
        width: px2rem(530px);
        height: px2rem(72px);
        line-height: px2rem(72px);
        padding: 0 px2rem(24px);
        background: #F6F6F7;
        @include center-block;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        .shang {
            color: orange;
        }
        .xia {
            color: #F11A1A;
        }
        .iconfont {
            @include font-dpr(24px);
            margin-right: px2rem(4px);
        }
    }
    .action-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: px2rem(80px);
        line-height: px2rem(80px);
        border-top: 1px solid #E9EBEC;
        display: flex;
        display: -webkit-flex;
        .action {
            width: 50%;
            display: flex;
            display: webkit-flex;
            justify-content: center;
            text-align: center;
            &:first-child {
                border-right: 1px solid #E9EBEC;
            }
        }
    }
    .bottom {
        padding: px2rem(30px) 0;
        display: flex;
        display: webkit-flex;
        justify-content: space-between;
        @include font-dpr(24px);
        .time {
            color: $color-text-gray;
        }
        .return {
            color: #5A9FFF;
        }
    }
}

// bill-detail-page
.bill-detail-page {
    min-height: 100%;
    background: url('../img/bill-detail-bg.png') no-repeat center bottom;
    background-size: 100% auto;
    .detail-wrap {
        position: relative;
        margin-top: px2rem(60px);
        margin-bottom: px2rem(24px);
        width: px2rem(550px);
        height: px2rem(820px);
        padding: px2rem(30px) px2rem(20px) px2rem(20px);
        background: white;
        box-shadow: 0 0 px2rem(26px) 0 rgba(27, 117, 107, 0.3);
        border-radius: px2rem(20px);
        @include center-block;
    }
    .bank-wrap {
        height: px2rem(34px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bank-name{
          display:inline-flex;
          align-items: center;
        }
        .bank-img{
          margin-right: px2rem(8px);
          height: px2rem(30px);
        }
        .bank-no{
          color: #969696;
        }
    }
    .total-wrap{
      margin-top: px2rem(40px);
      margin-bottom: px2rem(14px);
      display: flex;
      flex-direction: column;
      align-items: center;
      .total-amt{
        position: relative;
        @include font-dpr(64px);
        line-height: px2rem(48px);
        margin-bottom: px2rem(20px);
      }
      .iconfont{
        position: absolute;
        right: px2rem(-76px);
        top: 0;
        @include font-dpr(48px);
        color: #999;
      }
      .total-title{
        color: #999;
        @include font-dpr(22px);
      }
    }
    .main-wrap{
      height: px2rem(500px);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    .amt-box{
      .title{
        height: px2rem(33px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:before,&:after{
          content: '';
          width: px2rem(179px);
          height:1px;
          background:#999;
        }
      }
      .amt-item{
        margin-top: px2rem(20px);
        .label{
          color: #999;
        }
      }
      &.real{
        .amt-item{
          display: flex;
          justify-content: space-between;
        }
        .title,.value{
          color: #333;
        }
      }
      &.sub{
        .amt-item{
          display: flex;
          justify-content:space-between;
        }
        .title,.value{
          color: #F11A1A;
        }
      }
      &.remark{
        .amt-item{
          @include clearfix;
        }
        .title{
          color: #999;
        }
        .label{
          float: left;
          margin-right: px2rem(8px);
        }
        .label,.value{
          @include font-dpr(22px);
          color:#333;
        }
      }
    }
    .action-wrap{
      position: absolute;
      width: px2rem(510px);
      left: px2rem(20px);
      bottom: px2rem(22px);
      display: flex;
      justify-content: space-around;
      .iconfont{
        @include font-dpr(26px);
        margin-right: px2rem(8px);
      }
    }
    .btn{
      height: px2rem(62px);
      line-height: px2rem(62px);
      border-radius: px2rem($radius-xs);
      text-align: center;
      &.question,&.feedback{
        width: px2rem(134px);
        background: #E9E9E9;
        color: #999;
      }
      &.sure{
        width: px2rem(355px);
        background:$fx-main-color;
        color: white;
      }
      &.sured{
        width: 100%;
        background: #83D8D8;
        color: white;
      }
    }
    .swiper-pagination {
        top: px2rem(26px);
        bottom: px2rem(932px) !important;
        height: px2rem(4px) !important;
        display: flex;
        justify-content: center;
    }
    .swiper-pagination-bullet {
        width: px2rem(75px);
        height: px2rem(4px);
        background: rgba(255, 255, 255, 0.7) !important;
        margin: 0 !important;
        &:first-child {
            border-radius: px2rem(4px) 0 0 px2rem(4px);
        }
        &:last-child {
            border-radius: 0 px2rem(4px) px2rem(4px) 0;
        }
        &.swiper-pagination-bullet-active {
            border-radius: px2rem(4px);
            background: rgba(255, 255, 255, 0.8) !important;
        }
    }
    .bottom-group {
        @include font-dpr(20px);
        padding-bottom: px2rem(10px);
        line-height: 1;
        color: #C7FFF5;
        text-align: center;
    }
}
.img-viewer-wrap{
    background: black;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(0);
    .img{
        width: 100%;
        max-height: 100%;
        @include vertical-align;
    }
    .swiper-container{
        height: 100%;
    }
}
@media screen and  (width: 320px){
    .home-page .my-income{
        padding: px2rem(44px) px2rem(20px);
    }

}