@charset "utf-8";

$theme-color: #00CCCC !default;
$warning-color: #FF9124 !default;
$error-color: #F4415F !default;
$success-color: #12C465 !default;
$theme-reverse-color: #FB5E5E !default;
$info-color: #1989fa !default;
$text-color: #363C4D !default;
$text-color-gray: #A8AAB2 !default;
$text-color-tip: #707579 !default;
$text-color-dark: #41424a !default;
$welfare-theme-color: #DE4444 !default;
$money-text-color: #CF965B !default;
$orange-text-color: #FFDC9F !default;

$border-color:#F2F4F7 !default;
$bg-color: #f5f5f5 !default;//

$fontsize-default: 24px !default;
$fontsize-l: 32px !default;
$fontsize-m: 28px !default;
$fontsize-s: 20px !default;

$radius-s: 6px;
$radius-l: 15px;
$radius-xs: 4px;

$space-normal: 24px !default;
