@charset "utf-8";
$color-primary:                     #36b3b3 !default;
$color-secondary:                   #ccc !default;
$color-normal:                      #ff9800 !default;

/** ------------- 文字颜色 --------------- **/
$fx-main-color: #52BDBD !default; // 主色
$fx-reverse-color: #FB5E5E !default;
$color-text-default: #333333 !default; // 默认文字颜色
$color-text-gray: #999999 !default;
$color-text-tone: #36b3b3 !default;
$color-text-tip: #707579 !default;
$color-text-dark: #41424a !default;

/** ------------- border颜色 --------------- **/
$color-border-default: #dedede !default; //浅灰
$color-border-gray: #EDF2FF !default;
$color-border-gray2: #D5D8DA !default;
$color-color-light: #E6E9ED !default;
/** ------------- 文字大小 --------------- **/
$fontsize-default: 24px !default; //默认大小
$fontsize-l: 32px !default; //
$fontsize-m: 28px !default; //超小号
$fontsize-s: 20px !default; //超小号
/** ------------- 表单 --------------- **/

/** ------------- 圆角 --------------- **/
$radius-s: 6px;
$radius-l: 15px;
$radius-xs: 4px;


/** ------------ 页面背景色 ----------------- **/
$color-gray-bg: #f5f5f5 !default;//页面背景灰色

$space-normal: 24px !default;


$btn-bg-gray: #ededed;
