@charset "utf-8";

$theme-color: #1989fa !default;
$warning-color: #FF9124 !default;
$error-color: #F4415F !default;
$success-color: #12C465 !default;
$info-color: #1989fa !default;
$text-color: #363C4D !default;
$text-color-gray: #A8AAB2 !default;
$text-color-tip: #707579 !default;
$text-color-dark: #41424a !default;

$border-color:#F2F4F7 !default;

$fontsize-default: 12px !default;
$fontsize-l: 16px !default;
$fontsize-m: 14px !default;
$fontsize-s: 10px !default;

$radius-s: 4px;
$radius-l: 10px;
$radius-xs: 2px;

$space-default: 10px !default;
$space-s: 6px !default;
$space-m: 15px !default;
$space-l: 20px !default;
$space-xl: 30px !default;
