@charset "utf-8";
.van-nav-bar .van-icon {
  color: $text-color;
}
.van-password-input {
  margin: 0;
}
.van-picker {
  button {
    width: auto;
  }
}
.van-toast {
  .van-toast__text {
    padding: 1vw 1.6vw;
    font-size: 3.75vw;
    line-height: 4.5vw;
    word-break: break-all;
  }
}
// 下拉菜单
.van-dropdown-menu{
  .van-dropdown-menu__bar{
    height: 90px;
    box-shadow: none;
  }
  .van-dropdown-menu__title{
    padding: 0 16px;
    font-size: 26px;
    line-height: 40px;
  }
  .van-dropdown-menu__title::after{
    right: -10px;
    margin-top: -10px;
    border: 6px solid;
    border-color: transparent transparent #bbb #bbb;
    opacity: 1;
  }
  .van-dropdown-menu__title--active::after{
    border-color: transparent transparent currentColor currentColor;
    margin-top: -2px;
  }
}
// 单元格
.van-cell{
  font-size: 26px;
  line-height: 48px;
  padding: 20px 30px;
  align-items: center;
  .van-cell__label{
    margin-top: 8px;
    font-size: 24px;
    line-height: 36px;
  }
}

// 通知栏
.van-notice-bar{
  height: 80px;
  padding: 0 32px;
  font-size: 26px;
  line-height: 48px;
  .van-notice-bar__left-icon, .van-notice-bar__right-icon{
    min-width: 48px;
    font-size: 32px;
  }
}

// 数字键盘
.van-number-keyboard{
  padding-bottom: 0;
  .van-number-keyboard__body{
    padding: 10px 0 0 10px;
  }
  .van-key__wrapper{
    padding: 0 10px 10px 0;
    .van-key{
      height: 80px;
      font-size: 44px;
      border-radius: 12px;
    }
  }
  .van-key__delete-icon,.van-key__collapse-icon{
    width: 50px;
    height: 34px;
  }
}
// 密码输入框
.van-password-input{
  font-size: 36px;
  .van-password-input__security{
    height: 88px;
    li{
      font-size: 32px;
    }
    i{
      width: 20px;
      height: 20px;
    }
  }
}

// 弹出框
.van-dialog{
  width: 90%;
  font-size: 32px;
  border-radius: 32px;
  .van-dialog__header{
    padding-top: 48px;
    line-height: 48px;
  }
  .van-dialog__message{
    padding: 48px;
    font-size: 28px;
    line-height: 40px;
  }
  .van-dialog__message--has-title{
    padding-top: 16px;
  }
  .van-button--large{
    height: 100px;
  }
}
// 
.van-popup{
  .van-popup__close-icon--top-right{
    font-size: 42px;
    top: 28px;
    right: 28px;
  }
}
// 按钮
.van-button{
  font-size: 32px;
  height: 80px;
}
.van-button--normal{
  padding: 0 28px;
  font-size: 26px;
}

.van-nav-bar{
  height: 84px;
  .van-nav-bar__left, .van-nav-bar__right{
    padding: 0 30px;
    font-size: 26px;
  }
  .van-nav-bar__arrow{
    font-size: 30px;
    margin-right: 8px;
  }
  .van-nav-bar__title{
    font-size: 30px;
  }
}

// 下拉列表
.van-list{
  .van-list__error-text, .van-list__finished-text, .van-list__loading{
    font-size: 26px;
    line-height: 60px;
  }
  .van-loading__spinner{
    width: 30px !important;
    height: 30px !important;
  }
  .van-loading__text{
    margin-left: 14px;
    font-size: 26px;
  }
}

// 地址列表
.van-address-list{
  padding: 20px 20px 80px;
  .van-address-item:not(:last-child){
    margin-bottom: 20px;
  }
  .van-address-item{
    padding: 20px;
    border-radius: 8px;
    .van-radio__label{
      margin-left: 20px;
    }
    .van-address-item__name{
      margin-bottom: 12px;
      font-size: 30px;
      line-height: 42px;
    }
    .van-address-item__address{
      font-size: 24px;
      line-height: 34px;
      word-break: break-all;
    }
    .van-address-item__value{
      padding-right: 80px;
    }
    .van-address-item__edit{
      right: 30px;
      font-size: 38px;
    }
  }
}
.van-address-list__bottom{
  padding: 0 30px;
  .van-address-list__add{
    height: 76px;
    margin: 10px 0;
  }
}

// 动作面板
.van-action-sheet{
  .van-action-sheet__header{
    font-size: 30px;
    line-height: 90px;
    .van-action-sheet__close{
      padding: 0 30px;
      font-size: 36px;
    }
  }
}

//
.van-field__clear{
  font-size: 30px;
}

// 步骤
.van-steps--vertical{
  padding: 0 0 0 64px;
  .van-step--vertical{
    padding: 20px 20px 20px 0;
    line-height: 36px;
  }
  .van-step__circle-container{
    top: 38px;
    left: -30px;
    font-size: 24px;
  }
  .van-step__line{
    top: 32px;
    left: -30px;
  }
  .van-step__circle{
    width: 10px;
    height: 10px;
  }
}

// 日历
.van-calendar{
  .van-calendar__month-title, .van-calendar__header-title, .van-calendar__header-subtitle{
    height: 84px;
    line-height: 84px;
  }
  .van-calendar__month-title{
    font-size: 28px;
  }
  .van-calendar__header{
    box-shadow: 0 4px 20px rgba(125, 126, 128, 0.16);
  }
  .van-calendar__header-title{
    font-size: 30px;
  }
  .van-calendar__header-subtitle{
    font-size: 28px;
  }
  .van-calendar__weekday{
    font-size: 24px;
    line-height: 58px;
  }
  .van-calendar__day{
    height: 120px;
    font-size: 30px;
  }
  .van-calendar__selected-day{
    width: 100px;
    height: 100px;
    border-radius: 8px;
  }
  .van-calendar__month-mark{
    font-size: 300px;
  }
  .van-calendar__day--start{
    border-radius: 8px 0 0 8px;
  }
  .van-calendar__day--end{
    border-radius: 0 8px 8px 0;
  }
  .van-calendar__bottom-info{
    bottom: 16px;
    font-size: 20px;
  }
}

// van-switch
.van-switch{
  font-size: 34px !important;
  &.van-switch--on{
    background-color: $theme-color;
  }
}

@media screen and (max-width: 375px) {
  .van-switch{
    font-size: 38px !important;
  }
}

[class*=van-hairline]::after{
  border-color: #e0e1e2;
}