@charset "utf-8";

#app.black {
  $theme-name: black !default;
  $theme-active-color: #e2b789 !default;
  $theme-bg-color: #42495c !default;
  @import "./common";
  // 标签
  .tag-1 {
    background-image: linear-gradient(-90deg, #fff2e3 0%, #ffca94 100%);
    color: #ae702f;
  }
  .wallet-wrap {
    background-image: linear-gradient(-180deg, #ffffff 0%, #d0d5e0 96%);
    .withdrawal-btn{
      background-image: linear-gradient(#ffffff, #fbf4e5);
    }
  }
}
