@charset "utf-8";

#app.fourth{
  $theme-name: fourth !default;
  $theme-active-color: #F4415F !default;
  $theme-bg-color: #F4415F !default;
  // 钱包区域
  .wallet-wrap{
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FFCBD6 99%);
    .wallet-content{
      background: url('../img/theme/#{$theme-name}/wallet-bg.png') no-repeat;
      background-size: 100% 100%;
    }
    &.e-wallet{
      .wallet-content{
        background: url('../img/theme/#{$theme-name}/e-wallet-bg.png') no-repeat;
        background-size: 100% 100%;
      }
    }
    .withdrawal-btn{
      background-image: linear-gradient(#ffffff, #FFDADC);
      color: $theme-active-color;
    }
  }
  // 首页
  .home-page{
    .link-wrap{
      .income{
        background: url('../img/theme/#{$theme-name}/icon-home-income.png') no-repeat;
        background-size: 100% 100%;
      }
      .manager{
        background: url('../img/theme/#{$theme-name}/icon-home-manager.png') no-repeat;
        background-size: 100% 100%;
      }
      .metal{
        background: url('../img/theme/#{$theme-name}/icon-home-metal.png') no-repeat;
        background-size: 100% 100%;
      }
      .user{
        background: url('../img/theme/#{$theme-name}/icon-home-user.png') no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  .notice-count{
    background-color: $theme-bg-color;
  }
  // 标签
  .tag-1{
    background: $theme-bg-color;
    color: white;
  }
  // 日历控件
  .van-calendar__day--end, .van-calendar__day--multiple-middle, .van-calendar__day--multiple-selected, .van-calendar__day--start, .van-calendar__day--start-end{
    background-color: $theme-active-color;
  }
  .van-calendar__day--middle{
    color: $theme-active-color;
  }
  .van-calendar__confirm{
    background-color: $theme-bg-color;
    border: 1px solid $theme-bg-color;
  }
  // 下拉菜单
  .van-dropdown-menu__title--active {
    color: $theme-active-color;
  }
  .van-dropdown-item__option--active {
    color: $theme-active-color;
  }
  .van-dropdown-item__icon {
    color: $theme-active-color;
  }
  // 工资列表页
  .fixed-container{
    .van-dropdown-menu{
      .group-item {
        &.active{
          color: $theme-active-color;
        }
      }
    }
  }
  // loading组件
  .v-loading-square {
    .loading-dot {
      background: $theme-active-color;
    }
  }
  .v-loading-bounce {
    .loading-bounce {
      &::before,
      &::after {
        content: '';
        background-color: $theme-active-color;
      }
    }
  }
  .v-loading-loader {
    .loading-loader {
      background: $theme-active-color;
      color: $theme-active-color;
      &::before,
      &::after {
        background: $theme-active-color;
        color: $theme-active-color;
      }
    }
  }
}
