@charset "utf-8";
.bank-site-page{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: black;
  img{
    width: auto;
    height: 100%;
  }
}
