@charset "utf-8";

.barrage-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .tracker-container {
    position: relative;
    flex: 1;
    .bullet-container {
      visibility: hidden;
      position: absolute;
      left: 0;
      white-space: nowrap;
      border-radius: 36px;
      padding: 4px 5px;
      display: flex;
      align-items: center;
      background: rgba(255,255,255,0.2);
      .headimg {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        font-size: 40px;
        text-align: center;
        line-height: 36px;
        color: #ddd;
        background: white;
      }
      .content {
        padding: 0 8px;
        @include font-dpr(26px);
        color: white;
        .nick-name {
          @include font-dpr(24px);
          opacity: 0.8;
        }
      }
    }
  }
}