@charset "utf-8";
.code-input-wrap{
  position: relative;
  padding: 0 20px;
  .code-input{
    position: absolute;
    left: 0;
    height: 80px;
    opacity: 0;
    &.hidden{
      transform: translate(-100%);
    }
  }
  .van-password-input__item{
    border-bottom: 4px solid $text-color;
  }
  .code-wrap{
    height: 80px;
    background: #F7F7F7;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    &.focus{
      background: white;
    }
  }
  .code-item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #E6E6E6;
    height: 44px;
    font-size: 30px;
    &:last-child{
      border:none;
    }
    .dot{
      @include circle(16px);
      background: #333;
    }
  }
}