@charset "utf-8";

.fxgj-miniprogram-popup{
  width: 560px;
  height: 740px;
  padding-top: 186px;
  border-radius: 18px;
  overflow: hidden;
  background: #fff url('../img/fxgj-miniprogram-bg.png') no-repeat center -2px;
  background-size: 100% auto;
  text-align: center;
  .ewm{
    width: 368px;
    height: 368px;
    border-radius: 16px;
    margin: 0 auto 76px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 264px;
      height: 264px;
    }
  }
  .tip{
    font-size: 26px;
    line-height: 110px;
  }
  .close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    color: white;
  }
  .van-icon{
    font-size: 40px;
  }
}