@charset "utf-8";
.go-exchange{
  padding: 30px;
  display: flex;
  overflow: hidden;
  background: white;
  .van-image{
    @include square(138px);
    margin-right: 28px;
  }
  .information{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .goods{
      width: 420px;
      font-size: 30px;
      @extend %text-overflow;
    }
    .count{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 26px;
      color: #808080;
      .arrow {
        @include v-arrow(right, 2px, 12px);
        color: #B3B3B3;
      }
    }
    .hot{
      font-size: 26px;
      color: #808080;
    }
    .order-id{
      font-size: 26px;
    }
  }
}
