@charset "utf-8";
.go-exchange{
  padding: px2rem(30px);
  display: flex;
  overflow: hidden;
  background: white;
  img{
    @include square(138px);
    margin-right: px2rem(28px);
  }
  .information{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .goods{
      width: px2rem(420px);
      @include font-dpr(30px);
      @extend %text-overflow;
    }
    .count{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include font-dpr(26px);
      color: #808080;
      .arrow {
        @include v-arrow(right, 2px, px2rem(12px));
        color: #B3B3B3;
      }
    }
    .hot{
      @include font-dpr(26px);
      color: #808080;
    }
    .order-id{
      @include font-dpr(26px);
    }
  }
}
