// manager-info-box
.manager-info-box {
    margin: 0 px2rem(30px);
    background: white;
    box-shadow: 0 0 px2rem(18px) 0 rgba(0, 0, 0, 0.1);
    border-radius: $radius-s;
    .box {
      position: relative;
      padding: px2rem(30px) px2rem(30px) 0;
    }
    .code {
      position: absolute;
      right: 0;
      top: px2rem(12px);
      width: px2rem(168px);
      height: px2rem(42px);
      line-height: px2rem(42px);
      text-align: center;
      color: $fx-main-color;
      border-radius: px2rem(42px) 0 0 px2rem(42px);
      @include font-dpr(18px);
      @include linear-gradient(-180deg, #f4fafa 0%, #e6f4f4 100%);
    }
    .main-wrap {
      display: flex;
    }
    .pic-wrap {
      @include circle(102px);
      overflow: hidden;
      margin-right: px2rem(30px);
      background: $color-border-default;
      .pic {
        @include square(100%);
      }
    }
    .text-wrap {
      flex: 1;
      -webkit-flex: 1;
    }
    .item {
      @include word-break;
      @include font-dpr(22px);
      color: #757c7f;
      display: flex;
      display: -webkit-flex;
      .label {
        width: px2rem(60px);
      }
      .value {
        flex: 1;
        -webkit-flex: 1;
      }
    }
    .name {
      margin-bottom: px2rem(6px);
      @include font-dpr(26px);
      .iconfont {
        padding: 0 px2rem(15px);
        @include font-dpr(24px);
      }
    }
    .action-wrap {
      padding: px2rem(30px) 0;
      display: flex;
      justify-content: space-around;
    }
    .btn {
      width: px2rem(246px);
      height: px2rem(40px);
      line-height: px2rem(40px);
      cursor: pointer;
    }
  }