@charset "utf-8";
.no-data-wrap{
  padding-top: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .img{
    width: 132px;
    height: 132px;
    margin-bottom: 30px;
  }
  .text{
    font-size: 28px;
    color: #B3B3B3;
  }
}

