@charset "utf-8";
.no-data-wrap{
  padding-top: px2rem(280px);
  display: flex;
  flex-direction: column;
  align-items: center;
  .img{
    width: px2rem(132px);
    height: px2rem(132px);
    margin-bottom: px2rem(30px);
  }
  .text{
    @include font-dpr(28px);
    color: #B3B3B3;
  }
}

