@charset "utf-8";
.sign-dialog{
  .van-dialog{
    &__header{
      font-weight: normal;
      text-align: left;
      padding: 24px 20px;
      font-size: 28px;
      border-bottom: 1px solid $border-color;
    }
    &__content{
      .van-button{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 140px;
        border-radius: 8px;
      }
    }
  }
  .sign-box {
    width: 100%;
    height: 220px;
    box-sizing: content-box;
    background-color: $bg-color;
  }
}
