@charset "utf-8";

.hp-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2999;
  background: white;
  padding-bottom: 30px;
  .phone {
    width: 200px;
    margin-bottom: 60px;
    -webkit-animation: phoneAction 1.5s ease infinite;
    animation: phoneAction 1.5s ease infinite;
  }
  @keyframes phoneAction {
    0% {
      transform: rotate(-60deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  @-webkit-keyframes phoneAction {
    0% {
      transform: rotate(-60deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  .tip {
    font-size: 28px;
    color: $text-color;
  }
}
