@charset "utf-8";
.wallet-wrap {
  height: 180px;
  border-radius: 16px;
  padding: 0 25px;
  .wallet-content {
    height: 100%;
    padding-top: 14px;
  }
  .header {
    position: relative;
    height: 60px;
    padding-left: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 28px;
    .wallet-title{
      @include flex-center;
      span{
        padding: 6px 10px;
      }
    }
    .van-icon {
      opacity: 0.8;
      padding: 10px 24px;
    }
    .withdrawal-btn{
      position: absolute;
      right: 0;
      top: 0px;
      @include flex-center;
      width: 100px;
      height: 56px;
      border-radius: 30px 0 0 30px;
      background-color: white;
      text-indent: 4px;
      font-size: 24px;
      &.disabled{
        background: #E1E8EC;
        background-image: none !important;
        color: $text-color-gray !important;
      }
    }
  }
  .virtual-card{
    padding-left: 25px;
    margin: 12px 0 16px;
    .value{
      color: white;
      font-size: 28px;
      line-height: 38px;
    }
    .desc{
      font-size: 20px;
    }
    .star {
      position: relative;
      top: 4px;
      letter-spacing: 2px;
    }
  }
  .main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-top: 10px;
    .col{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .money {
      .value{
        letter-spacing: -1px;
      }
    }
    .value {
      position: relative;
      font-size: 36px;
      @extend .orange-text;
    }
    .label {
      color: white;
      font-size: 20px;
      display: inline-flex;
      align-items: center;
      opacity: 0.8;
      padding: 0 2px;
    }
    .star {
      position: relative;
      top: 10px;
      letter-spacing: 2px !important;
    }
    .star-bottom{
      position: relative;
      top: 2px;
    }
    .iconfont {
      padding: 0 10px;
      font-size: 32px;
      line-height: 1;
      position: relative;
      top: 2px;
    }
    .dot {
      left: 100%;
      top: 0;
      transform: translateX(-100%);
    }
  }
}
