@charset "utf-8";
.add-new-address {
  .van-field__label {
    max-width: 140px;
  }
  .area-desc {
    color: $text-color-gray;
  }
  .van-switch--on {
    background-color: $welfare-theme-color !important;
  }
  .van-button {
    width: 80%;
    height: 80px;
    margin: 40px auto;
    display: block;
    &.save {
      background-image: linear-gradient(90deg, #f66363 0%, #db4040 100%);
    }
  }
  .van-cell{
    align-items: center;
  }
  .van-cell__value {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .van-field__body{
    width: 100%;
  }
}
