@charset "utf-8";
.add-new-address {
  .van-field__label{
    max-width: 70px;
  }
  .area-desc{
    color: $text-color-gray;
  }
  .van-switch--on{
    background-color: $welfare-theme-color !important;
  }
  .van-button {
    width: 77vw;
    height: 44px;
    margin: 20px auto;
    display: block;
    &.save{
      background-image: linear-gradient(90deg, #F66363 0%, #DB4040 100%);
    }
  }
}