// bill-detail-page
.bill-detail-page {
    min-height: 100%;
    background: url('../img/bill-detail-bg.png') no-repeat center bottom;
    background-size: 100% 100%;
    .detail-wrap {
      position: relative;
      margin-top: px2rem(60px);
      margin-bottom: px2rem(24px);
      width: px2rem(550px);
      height: px2rem(820px);
      padding: px2rem(30px) px2rem(20px) px2rem(20px);
      background: white;
      box-shadow: 0 0 px2rem(26px) 0 rgba(27, 117, 107, 0.3);
      border-radius: px2rem(20px);
      @include center-block;
    }
    .bank-wrap {
      height: px2rem(34px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .bank-name {
        display: inline-flex;
        align-items: center;
        flex: 1;
      }
      .bank-img {
        margin-right: px2rem(8px);
        height: px2rem(30px);
        display: block;
      }
      .bank-no {
        color: #969696;
      }
    }
    .total-wrap {
      margin-top: px2rem(40px);
      margin-bottom: px2rem(14px);
      display: flex;
      flex-direction: column;
      align-items: center;
      .total-amt {
        position: relative;
        @include font-dpr(64px);
        line-height: px2rem(48px);
        margin-bottom: px2rem(20px);
      }
      .iconfont {
        position: absolute;
        right: px2rem(-76px);
        top: 0;
        @include font-dpr(48px);
        color: #999;
      }
      .total-title {
        color: #999;
        @include font-dpr(22px);
      }
    }
    .main-wrap {
      height: px2rem(500px);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    .amt-box {
      .title {
        height: px2rem(33px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:before,
        &:after {
          content: '';
          display: block;
          width: px2rem(179px);
          height: 1px;
          background: #999;
        }
      }
      .amt-list {
        padding: px2rem(10px) 0;
      }
      .amt-item {
        margin-top: px2rem(20px);
        &:first-child {
          margin-top: 0;
        }
        .label {
          color: #999;
        }
      }
      &.should {
        .amt-item {
          display: flex;
          justify-content: space-between;
        }
        .title,
        .value {
          color: #333;
        }
      }
      &.sub {
        .amt-item {
          display: flex;
          justify-content: space-between;
        }
        .title,
        .value {
          color: #f11a1a;
        }
      }
      &.remark {
        .amt-item {
          line-height: 1.5;
          @include clearfix;
          word-break: break-all;
        }
        .title {
          color: #999;
        }
        .label {
          float: left;
          margin-right: px2rem(8px);
        }
        .label,
        .value {
          @include font-dpr(22px);
          color: #333;
        }
      }
    }
    .action-wrap {
      position: absolute;
      width: px2rem(510px);
      left: px2rem(20px);
      bottom: px2rem(22px);
      display: flex;
      justify-content: space-between;
      .iconfont {
        @include font-dpr(26px);
        margin-right: px2rem(8px);
      }
    }
    .btn {
      height: px2rem(62px);
      @include flex-center;
      border-radius: px2rem($radius-xs);
      &.question,
      &.feedback {
        width: px2rem(134px);
        background: #e9e9e9;
        color: #999;
      }
      &.sure {
        width: px2rem(355px);
        background: $theme-color;
        color: white;
      }
      &.sured {
        width: 100%;
        background: #83d8d8;
        color: white;
      }
    }
    .swiper-pagination {
      top: px2rem(26px);
      bottom: px2rem(932px) !important;
      height: px2rem(4px) !important;
      display: flex;
      justify-content: center;
    }
    .swiper-pagination-bullet {
      width: px2rem(75px);
      height: px2rem(4px);
      background: rgba(255, 255, 255, 0.7) !important;
      margin: 0 !important;
      &:first-child {
        border-radius: px2rem(4px) 0 0 px2rem(4px);
      }
      &:last-child {
        border-radius: 0 px2rem(4px) px2rem(4px) 0;
      }
      &.swiper-pagination-bullet-active {
        border-radius: px2rem(4px);
        background: rgba(255, 255, 255, 0.8) !important;
      }
    }
    .bottom-group {
      @include font-dpr(20px);
      width: px2rem(550px);
      margin: 0 auto;
      padding-bottom: px2rem(10px);
      line-height: 1.2;
      color: #c7fff5;
      text-align: center;
    }
    .personal-tax{
      width: px2rem(197px);
      height: px2rem(55px);
      line-height: px2rem(55px);
      opacity: 0.77;
      background: #000000;
      border-radius: px2rem(27.5px) 0 0  px2rem(27.5px);
      @include font-dpr(22px);
      color: #FFFFFF;
      text-align: center;
      position: fixed;
      right: 0;
      top:px2rem(215px);
      z-index: 10000000000;
    }
  }
  .img-viewer-wrap {
    background: black;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(0);
    .img {
      width: 100%;
      max-height: 100%;
      @include vertical-align;
    }
    .swiper-container {
      height: 100%;
    }
  }
  .vcode-btn {
    display: inline-flex;
    padding: 5px;
    color: $theme-color;
    &.disabled {
      color: #999;
    }
  }
  @media screen and (width: 320px) {
    .home-page .my-income {
      padding: px2rem(44px) px2rem(20px);
    }
  }
