@charset "utf-8";
.elife-login-page {
  $shadow: 16px;
  min-height: 100%;
  padding: 406px 40px 20px;
  background: #fef1d1 url('../img/elife/elife-activity-bg.png') no-repeat;
  background-size: 100% auto;
  .input-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 $shadow 0 rgba(192, 128, 33, 0.16);
    border-radius: $radius-xs;
    .input-wrap{
      display: flex;
      align-items: center;
      height: 120px;
    }
    .icon{
      height: 28px;
      padding: 0 20px;
    }
    .line{
      height: 28px;
      width: 1px;
      background: #FD923E;
    }
    .input{
      font-size: 28px;
      border: none;
      flex: 1;
    }
  }
  .btn {
    height: 88px;
    line-height: 88px;
    margin-top: 20px;
    text-align: center;
    background: #e70207;
    box-shadow: 0 4px $shadow 0 rgba(255, 164, 30, 0.1);
    border-radius: $radius-xs;
    color: #E7E7E7;
    font-size: 28px;
  }
  .tip-wrap{
    margin-top: 56px;
    line-height: 32px;
    .title{
      margin-bottom: 10px;
      color: #F35B14;
    }
    .content{
      color: #F0A56B;
    }
  }
}

.elife-process-page{
  .process-img{
    width: 100%;
  }
}
.elife-xlogin-page{
  height: 100%;
  background: #3dd0cd;
  font-size: 26px;
  .scroll-wrap{
    padding: 560px 40px 40px;
    background: #3dd0cd url('../img/elife/elife-xactivity-bg.png') no-repeat;
    background-size: 100% auto;
  }
  .input-form{
    margin-bottom: 40px;
  }
  .input-wrap{
    position: relative;
    width: 560px;
    height: 80px;
    padding: 0 34px;
    background: #03BDB7;
    border: 1px solid #9BF0EC;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    &:last-child{
      margin-bottom: 0;
    }
    &.disabled{
      background: #31cfce;
    }
    .icon{
      height: 32px;
      margin-right: 20px;
    }
    .input{
      background: transparent;
      border: none;
      color: #fff;
      padding: 14px 0;
      @include placeholder {
        color: #96E2E0;
      }
      &[disabled]{
        color: #9BF0EC;
      }
    }
    &.half{
      width: 320px;
    }
    .vcode-btn{
      position: absolute;
      left: 100%;
      width: 226px;
      padding: 0;
      margin-left: 14px;
      font-size: 26px;
      &.disabled{
        color: #666;
        background-image: linear-gradient(-180deg, #c5c5c2 0%, #a7a6a5 100%);
      }
    }
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: #E85218;
    background-image: linear-gradient(-180deg, #FFEC8B 0%, #FFC948 100%);
    border-radius: 40px;
  }
  .join-btn{
    font-size: 30px;
  }
  .tip-wrap{
    padding-top: 30px;
    color: #02807C;
    font-size: 24px;
    line-height: 2;
    .title-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      .title {
        padding: 0 20px;
      }
      .line {
        width: 60px;
        height: 2px;
        background: #03BDB7;
      }
    }
    .tip-item{
      margin-left: 40px;
      list-style-type: disc;
    }
  }
}
.elife-xresult-page{
  .img{
    width: 100%;
    display: block;
  }
}
.rule-btn{
  position: fixed;
  top: 50%;
  right: 8px;
  width: 128px;
  height: 110px;
  margin-top: -55px;
}
.x-rule-popup{
  .content-wrap{
    padding: 0 !important;
    img{
      width: 100%;
      display: block;
    }
  }
}
