//   首页
.home-page {
  height: 100%;
  position: relative;
  .banner {
    position: relative;
    padding-top: 53%;
    overflow: hidden;
    margin-bottom: $space-normal;
    .swiper-container {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      .img {
        display: block;
        width: 100%;
      }
    }
  }
  .links-wrap {
    height: 314px;
    background: white;
    display: flex;
    -webkit-display: flex;
    font-size: 28px;
  }
  .link-right {
    flex: 1;
    -webkit-flex: 1;
  }
  .my-income {
    width: 270px;
    border-right: 1px solid $border-color;
    padding: 44px 30px;
    line-height: 32px;
    background: url('../img/icon-my-income.png') no-repeat center 80px;
    background-size: 200px auto;
  }
  .recent-one {
    color: $text-color-gray;
    font-size: 22px;
    margin-top: 12px;
  }
  .hx-manager {
    position: relative;
    height: 156px;
    line-height: 156px;
    padding-left: 44px;
    border-bottom: 1px solid $border-color;
    background: url('../img/icon-hx-manager.png') no-repeat 206px 34px;
    background-size: 126px auto;
    &.hx-manager-gray {
      background: url('../img/icon-hx-manager-gray.png') no-repeat 206px 34px;
      background-size: 126px auto;
      color: $text-color-gray;
      .icon-await {
        position: absolute;
        right: 20px;
        top: 0;
        width: 50px;
      }
    }
  }
  .news-flag {
    position: absolute;
    top: 22px;
    right: 24px;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
    @include linear-gradient(0deg, #ff8484, #ff5f21);
    border-radius: 20px;
    color: white;
    font-size: 18px;
  }
  .invoice-person {
    display: flex;
    flex-wrap: wrap;
  }
  .box {
    width: 50%;
    height: 156px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 70px;
    }
  }
  .bot-line {
    border-bottom: 1px solid $border-color;
  }
  .invoice-info {
    border-right: 1px solid $border-color;
  }
  .welfare-info {
    border-right: 1px solid $border-color;
    &.zx {
      flex-direction: row;
      width: 100%;
      border-right: none;
      img {
        width: 90px;
        margin-left: 40px;
      }
    }
  }
  .manager-info {
    border-right: 1px solid $border-color;
    .title {
      position: relative;
      .dot {
        position: absolute;
        left: 50%;
        top: -10px;
        margin-left: 56px;
        @include circle(30px);
        background: #fb3636;
        color: #fff;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .person-info {
    .title {
      position: relative;
      .dot {
        position: absolute;
        right: -10px;
        top: 0;
        @include circle(10px);
        background: #fb3636;
      }
    }
  }
}
.bottom-logo {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .img-wrap {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  img {
    height: 30px;
    &.fx {
      opacity: 0.9;
    }
    &.hx {
      height: 26px;
    }
    &.zx {
      height: 34px;
    }
  }
}
.home-manager-dialog {
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .main {
    width: 600px;
    height: auto;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px 30px 15px 30px;
   /* overflow-y: scroll;*/
  /*  -webkit-overflow-scrolling: touch;*/
    .name {
      font-size: 30px;
      line-height: 40px;
    }
    .desc {
      font-size: 22px;
      margin-top: 20px;
      line-height: 36px;
      margin-bottom: 20px;
    }
    .single {
      height: 90px;
      line-height: 90px;
      transform: skew(-6deg);
      border-radius: 6px;
      margin-top: 25px;
      color: #fff;
      padding-left: 30px;
      .single-l {
        font-size: 24px;
      }
      .single-c {
        margin: 0 12px;
      }
      .single-r {
        font-size: 20px;
        opacity: 0.7;
      }
      &.bg1 {
        background-image: linear-gradient(
          77deg,
          rgba(233, 190, 116, 0.99608) 0%,
          rgb(207, 130, 93) 100%
        );
      }
      &.bg2 {
        background-image: linear-gradient(
          77deg,
          rgba(234, 144, 117, 0.99608) 0%,
          rgb(248, 110, 120) 100%
        );
      }
      &.bg3 {
        background-image: linear-gradient(
          77deg,
          rgba(145, 109, 229, 0.99608) 0%,
          rgb(94, 78, 220) 100%
        );
      }
    }
    .manager-box {
      margin-top: 25px;
      position: relative;
      .name {
        font-size: 28px;
        color: $theme-color;
        span {
          font-size: 22px;
        }
        .line {
          margin: 0 5px 0 15px;
        }
      }
      .branch {
        margin: 10px 0 15px 0;
        font-size: 20px;
        color: #808080;
      }
      .info {
        font-size: 20px;
        span {
          margin: 0 30px 0 10px;
          color: #808080;
        }
      }
      .phone-box {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: $theme-color;
        position: absolute;
        right: 0;
        top: 50px;
        color: #fff;
        font-size: 36px;
        line-height: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          font-size: 20px;
        }
      }
    }
    .btn {
      display: block;
      height: 70px;
      line-height: 70px;
      text-align: center;
      font-size: 28px;
      background: $primary-color;
      color: white;
      border-radius: $radius-xs;
      margin-top: 30px;
    }
    .checkbox-wrap {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      .van-checkbox{
        height: 36px;
      }
    }
  }
}
