// 首页
.home-page {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  $padding: 30px;
  padding-top: 30px;
  &.ent{
    padding-top: 90px;
  }

  .banner {
    margin: 0 auto 10px;
    width: 580px;
    height: 262px;
    border-radius: 16px;
    img {
      width: 100%;
      height: 100%;
    }
    .van-swipe__indicator {
      bottom: 20px;
      width: 12px;
      height: 6px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      margin-right: 8px;
    }
    .van-swipe__indicator--active {
      width: 16px;
      background-color: white;
    }
  }
  .notice-bar {
    position: relative;
    margin: 0 30px;
    padding: 0;
    min-height: 1px;
    .van-notice-bar{
      background: none;
      padding: 0;
    }
    img {
      display: block;
      width: 36px;
    }
    .van-notice-bar__left-icon{
      min-width: 30px;
    }
    .van-notice-bar__wrap {
      margin-left: 26px;
    }
    &.no-new{
      .van-notice-bar__wrap {
        margin-left: 16px;
      }
    }
    .van-swipe {
      height: 80px;
      line-height: 80px;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(255,255,255,0.8), rgba(255,255,255,0.2));;
      }
    }
    .van-swipe-item {
      @extend %text-overflow;
      font-size: 24px;
      line-height: 80px;
    }
    .notice-count {
      top: 6px;
      left: 36px;
      z-index: 2;
    }
  }
  .link-wrap {
    height: 228px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      .img-wrap {
        position: relative;
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        img{
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 20px;
        }
        .notice-count {
          top: 0;
          left: 76px;
        }
      }
    }
    .dot {
      top: -8px;
      right: 40px;
    }
    .tag-1{
      left: 50%;
      top: 0;
      transform: translateY(-50%);
      word-break: keep-all;
    }
  }
  .advert-link-wrap{
    padding-bottom: 20px;
  }
  .game-link-wrap{
    height: 204px;
  }
  .zx-link-wrap{
    padding-top: 30px;
    height: auto;
    flex-wrap: wrap;
    .item{
      width: 25%;
      flex: auto;
      padding-bottom: 40px;
    }
  }
  .title {
    padding-left: $padding;
    font-family: PingFangSC-Semibold;
    font-size: 32px;
  }
  .advert{
    width: 590px;
    height: 158px;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
  }
  .bottom-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    img{
      height: 46px;
    }
  }
}



.home-manager-dialog {
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }

  .main {
    flex: 1;
    width: 600px;
    height: auto;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px 30px 10px 30px;
   /* overflow-y: scroll;*/
  /*  -webkit-overflow-scrolling: touch;*/
    .name {
      font-size: 30px;
      line-height: 40px;
    }
    .desc {
      font-size: 22px;
      margin-top: 20px;
      line-height: 36px;
      margin-bottom: 20px;
    }
    .single {
      height: 90px;
      line-height: 90px;
      transform: skew(-6deg);
      border-radius: 6px;
      margin-top: 25px;
      color: #fff;
      padding-left: 30px;
      .single-l {
        font-size: 24px;
      }
      .single-c {
        margin: 0 12px;
      }
      .single-r {
        font-size: 20px;
        opacity: 0.7;
      }
      &.bg1 {
        background-image: linear-gradient(
          77deg,
          rgba(233, 190, 116, 0.99608) 0%,
          rgb(207, 130, 93) 100%
        );
      }
      &.bg2 {
        background-image: linear-gradient(
          77deg,
          rgba(234, 144, 117, 0.99608) 0%,
          rgb(248, 110, 120) 100%
        );
      }
      &.bg3 {
        background-image: linear-gradient(
          77deg,
          rgba(145, 109, 229, 0.99608) 0%,
          rgb(94, 78, 220) 100%
        );
      }
    }
    .manager-box {
      margin-top: 25px;
      position: relative;
      .name {
        font-size: 28px;
        color: $theme-color;
        span {
          font-size: 22px;
        }
        .line {
          margin: 0 5px 0 15px;
        }
      }
      .branch {
        margin: 10px 0 15px 0;
        font-size: 20px;
        color: #808080;
      }
      .info {
        font-size: 20px;
        span {
          margin: 0 30px 0 10px;
          color: #808080;
        }
      }
      .phone-box {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: $theme-color;
        position: absolute;
        right: 0;
        top: 50px;
        color: #fff;
        font-size: 36px;
        line-height: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          font-size: 20px;
        }
      }
    }
  }
  .btn {
    display: block;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 28px;
    background: $theme-color;
    color: white;
    margin-top: 30px;
    width: 100%;
  }
}