@charset "utf-8";
.hr-ebank-page{
  .list{
    width: px2rem(580px);
    margin: px2rem(30px) auto;
    background: white;
    border-radius: px2rem($radius-s);
    overflow: hidden;
    .outline{
      height: px2rem(240px);
      display: flex;
      align-items: flex-end;
      padding: 10px px2rem(30px);
      background: gray;
      color: white;
      @include font-dpr(34px);
    }
    .item{
      height: px2rem(120px);
      padding: 0 px2rem(30px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border-color;
      &:last-child{
        border-bottom: none;
      }
      .text{
        @include font-dpr(32px);
        flex: 1;
        @extend %text-overflow;
        min-width:0;
      }
      .img{
        @include square(100px);
      }
    }
  }
}