// 发票页面
.invoice-page {
    position: relative;
    color: #333;
    padding-top: 80px;
    min-height: 100%;
    .pop-bg {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .pop-hui {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 20;
    }
    .pop {
      width: 100%;
      height: 100%;
      background: transparent;
    }
    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 20;
      width: 544px;
      height: 692px;
      padding: 20px 25px 102px;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      background: url('../img/invoice-pop-bg.png') no-repeat center top;
      background-size: 100% auto;
      .title {
        height: 84px;
        width: 100%;
        line-height: 84px;
        text-align: center;
        color: #fff;
        font-size: 32px;
      }
    }
    .content-ul-bg {
      position: relative;
      width: 100%;
      height: 550px;
    }
    .content-ul {
      font-size: 20px;
      width: 100%;
      height: 100%;
      line-height: 36px;
      color: #999999;
      padding: 16px 40px 0;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      li {
        margin-bottom: 20px;
      }
      .title-2 {
        font-size: 26px;
        line-height: 36px;
        font-weight: bold;
        color: #8a8a8a;
        padding: 12px 0;
        border-bottom: 1px solid #dcdcdc;
      }
      p {
        margin-top: 12px;
      }
      em {
        font-weight: bold;
      }
    }
    .content-shadow {
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -225px;
      width: 450px;
      height: 60px;
      background-image: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 74%
      );
    }
    .pop-close {
      position: absolute;
      right: 25px;
      top: 20px;
      font-size: 50px;
      padding: 12px;
      color: white;
    }
    .wacth-out {
      width: 144px;
      height: 144px;
      position: fixed;
      right: 0;
      bottom: 73px;
      &.move-in {
        -webkit-animation: move-in 0.5s both;
        animation: move-in 0.5s both;
      }
      &.move-out {
        -webkit-animation: move-out 0.5s linear both;
        animation: move-out 0.5s linear both;
      }
    }
    .null {
      margin-top: 40px;
      line-height: 36px;
      font-size: 26px;
      text-align: center;
      color: #999999;
    }
    .main,
    .main-next {
      background: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      box-sizing: border-box;
      margin: 25px 25px 0;
    }
    .main {
      padding: 26px;
    }
    .main-next {
      padding: 44px 0;
      font-size: 22px;
      color: #999999;
      text-align: center;
      line-height: 30px;
      margin-bottom: 25px;
      img {
        width: 200px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
    .invoice-type {
      width: 100%;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1;
      p {
        font-size: 30px;
      }
    }
    .switch {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: $theme-color;
      .svg-icon {
        font-size: 28px;
        margin-right: 4px;
      }
    }
    .msg {
      li {
        margin-top: 26px;
        font-size: 26px;
        line-height: 38px;
        div {
          word-wrap: break-word;
        }
        span,
        i {
          vertical-align: middle;
        }
        .svg-icon{
          color: #52bdbd;
          font-size: 30px;
          margin-left: 16px;
        }
      }
    }
    .null-msg {
      color: #666666;
    }
    .item-name {
      line-height: 30px;
      font-size: 22px;
      color: #999999;
      margin-bottom: 12px;
    }
  }