.logistics-detail-page {
  padding: 20px;
  .goods-info{
    background: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 30px;
    .goods-img{
      @include square(100px);
      border: 1px solid $border-color;
      margin-right: 28px;
      border-radius: 8px;
    }
    .goods-text{
      flex: 1;
    }
    .title{
      font-size: 28px;
      margin-bottom: 14px;
      word-break: break-all;
    }
    .company{
      font-size: 24px;
      .gray{
        color: $text-color-gray;
      }
      .stress{
        color: $welfare-theme-color;
      }
    }
  }
  .track-info{
    background: white;
    border-radius: 8px;
    margin-top: 20px;
    .address{
      display: flex;
      align-items: center;
      color: $text-color-gray;
      padding: 30px;
      .location{
        font-size: 30px;
        margin-right: 20px;
      }
    }
    .detail{
      word-break: break-all;
      font-size: 26px;
    }
    .desc{
      font-size: 26px;
    }
    .time{
      font-size: 24px;
      margin-top: 20px;
    }
  }
}