.van-logistics-detail-page {
  padding: 10px;
  .van-goods-info{
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 15px;
    .van-goods-img{
      @include square(50px);
      border: 1px solid $border-color;
      margin-right: 14px;
      border-radius: 4px;
    }
    .van-goods-text{
      flex: 1;
    }
    .van-title{
      font-size: 14px;
      margin-bottom: 7px;
      word-break: break-all;
    }
    .van-company{
      font-size: 12px;
      .gray{
        color: $text-color-gray;
      }
      .stress{
        color: $welfare-theme-color;
      }
    }
  }
  .van-track-info{
    background: white;
    border-radius: 4px;
    margin-top: 10px;
    .van-address{
      display: flex;
      align-items: center;
      color: $text-color-gray;
      padding: 15px;
      .van-icon{
        margin-right: 10px;
      }
    }
    .van-detail{
      word-break: break-all;
      font-size: 13px;
    }
    .van-desc{
      font-size: 13px;
    }
    .van-time{
      font-size: 12px;
      margin-top: 10px;
    }
  }
}