//
.manager-contact-page {
    .list {
      background: white;
    }
    .item {
      display: flex;
      min-height: 88px;
      padding: 24px 30px;
      font-size: 26px;
      line-height: 38px;
      border-bottom: 1px solid $border-color;
      align-items: center;
    }
    .label {
      color: $text-color-dark;
      width: 114px;
    }
    a {
      color: $text-color-gray;
    }
    .value {
      flex: 1;
      -webkit-flex: 1;
      text-align: right;
      color: $text-color-gray;
      @include word-break;
    }
    .v-arrow {
      margin-left: 12px;
      @include v-arrow(right, 2px, 16px);
    }
  }