//   华夏管家页面
.manager-page {
    height: 100%;
    .no-manager {
      height: 100%;
      background: white;
      color: $text-color-tip;
      font-size: 26px;
      text-align: center;
      padding-top: 270px;
      .img {
        display: inline-block;
        margin-bottom: 34px;
        &-status-one {
          width: 180px;
          height: 162px;
        }
        &-status-two {
          width: 218px;
          height: 164px;
        }
      }
      .tip {
        line-height: 38px;
      }
      .btn {
        width: 210px;
        height: 70px;
        line-height: 70px;
        margin-top: 32px;
        border-radius: $radius-xs;
        font-size: 28px;
        &-green {
          background: $theme-color;
          color: white;
        }
        &-gray {
          background: #ededed;
          color: #9da6a6;
        }
      }
    }
    .has-manager {
      height: 100%;
      display: flex;
      flex-direction: column;
      color: $text-color-dark;
      .outline-info-wrap {
        height: 274px;
        text-align: center;
        padding-top: 50px;
        background: url('../img/fx-manager-bg.png') no-repeat center center;
        background-size: 100% 100%;
      }
      .manager-img {
        @include circle(112px);
        @include center-block;
        border: 4px solid white;
        margin-bottom: 14px;
        overflow: hidden;
        img {
          @include square(104px);
        }
      }
      .manager-name {
        line-height: 40px;
        color: white;
        font-size: $fontsize-m;
      }
    }
    .tab-list {
      background: white;
      height: 88px;
      display: flex;
      display: -webkit-flex;
      justify-content: space-around;
      margin-bottom: $space-normal;
    }
    .tab-item {
      height: 88px;
      line-height: 88px;
      width: 150px;
      position: relative;
      text-align: center;
      &.active {
        color: $theme-color;
        border-bottom: 4px solid $theme-color;
      }
      &.has-news:after {
        content: '';
        position: absolute;
        right: 18px;
        top: 24px;
        @include circle(14px);
        background: #fb3636;
        box-sizing: border-box;
        border: 2px solid white;
      }
    }
  }