@charset "utf-8";
.order-confirm-page{
  .address-wrap{
    background: white;
    .title{
      display: flex;
      align-items: center;
      height: 88px;
      padding: 0 30px;
      border-bottom: 1px solid $border-color;
      font-size: 28px;
      .van-icon{
        margin-right: 16px;
      }
    }
  }
  .content{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      right: 32px;
      top: 50%;
      @include v-arrow(right, 2px, 12px);
      transform: rotate(45deg) translateY(-50%);
      color: #B3B3B3;
    }
    .stress{
      height: 168px;
      line-height: 168px;
      padding-left: 30px;
      color: #4993E0;
      font-size: 30px;
    }
    .address-detail{
      padding: 23px 92px 23px 30px;
      .name{
        font-size: 28px;
        margin-bottom: 4px;
      }
      .detail{
        color:#7d7e80;
      }
    }
  }
  .go-exchange{
    margin-top: 20px;
  }
}