@charset "utf-8";
.public-page{
  min-height: 100%;
  background: white;
  .logo-wrap{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    img{
      width: 223px;
      height: 72px;
    }
  }
  .content-wrap{
    padding: 40px;
    &.show{
      padding-bottom: 390px;
    }
  }
  .big-title{
    display: flex;
    align-items: center;
    font-size: 36px;
    color: #4c4c4c;
    .iconfont{
      font-size: 48px;
      margin-left: 10px;
    }
  }
  .tip{
    margin-top: 16px;
    margin-bottom: 46px;
    color: #666;
  }
  .mt{
    margin-top: 40px;
  }
  .field-wrap{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;
    .field-icon{
      height: 26px;
      padding-right: 19px;
      border-right: 1px solid $border-color;
    }
    .field-icon-phone{
      padding-right: 24px;
    }
    .input{
      border: none;
      @include placeholder{
        font-size: 26px;
        color: #B3B3B3;
      }
    }
  }
  .btn{
    display: block;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 28px;
    background: $primary-color;
    color: white;
    border-radius: $radius-xs;
    &[disabled]{
      background: $border-color;
      color: #a5a5a5;
    }
  }
  .btn-next{
    margin-top: 60px;
  }
  .vcode-btn{
    width: 220px;
    font-size: 26px;
  }
  .bottom-tip{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 70px;
    text-align: center;
    color: #666;
    font-size: 26px;
  }
}
.complete-page{
  padding: 220px 60px 0;
  text-align: center;
  .iconfont{
    display: inline-block;
    font-size: 100px;
    color: $theme-color;
    margin: 0 auto 20px;
  }
  .result-title{
    font-size: 28px;
    margin-bottom: 18px;
  }
  .result-tip{
    color: #666;
  }
  .btn{
    margin-top: 80px;
    color: $theme-color;
    border: 1px solid $theme-color;
    background: white;
  }
}

.choose-phone-page,.choose-ent-action{
  .phone-item{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    border-radius: $radius-xs;
    margin-bottom: 20px;
    padding: 0 16px;
    &:last-child{
      margin-bottom: 0;
    }
    .group{
      flex: 1;
      margin-right: 8px;
      @extend %text-overflow;
    }
    .phone{
      color: $theme-color;
    }
    .no-phone{
      color: $text-color-gray;
    }
    &.active{
      background: $theme-color;
      color: white;
      .phone{
        color: white;
      }
    }
    &.disabled{
      background: #F2F2F2;
      color: $text-color-gray;
    }
  }
}
.send-code-page{
  .stress{
    color: $theme-color;
  }
  .change-phone-btn{
    margin-top: 20px;
    line-height: 80px;
    text-align: center;
  }
}
.check-code-page{
  padding-top: 40px;
  text-align: center;
  .big-title{
    margin-bottom: 40px;
    justify-content: center;
    font-size: 26px;
    .iconfont{
      font-size: 40px;
    }
  }
  .forget-pwd-link{
    display: flex;
    justify-content: flex-end;
    color: $theme-color;
    text-align: right;
    line-height: 4;
  }
}
.fill-id-card-page{
  .field-wrap{
    padding: 24px 0;
  }
  .id-card-span{
    padding: 0 10px;
    min-height: 40px;
    display: inline-flex;
    align-items: center;
  }
  .placeholder{
    color: $text-color-gray;
  }
}
.set-code-page,.modify-query-code-page{
  .small-tip{
    text-align: center;
    color: $text-color-gray;
    padding-top: 20px;
  }
}