@charset "utf-8";
.pwd-manage-page{
  .title,.tip{
    display: flex;
    padding: 30px 30px 14px;
    font-size: 24px;
    color: $text-color-gray;
  }
  .van-cell{
    font-size: 28px;
  }
  .tip{
    line-height: 40px;
    word-break: break-all;
  }
}