@charset "utf-8";

.service-attention-page {
  // 公众号关注提示页
  .steps {
    padding: 30px;
    margin-bottom: 66px;
    background-color: white;
    border-radius: 4px;
    .step-tip {
      margin-bottom: 12px;
      font-family: PingFangSC-Semibold;
    }
    .step-item {
      color: $theme-color;
      line-height: 38px;
    }
  }
  .ewm {
    display: block;
    padding: 20px;
    @include square(240px);
    background-color: white;
    margin: 0 auto;
  }
  .tip {
    color: #525e70;
    line-height: 38px;
  }
}
.sign-link {
  position: fixed;
  right: 13px;
  top: 220px;
  z-index: 2;
  .notice-count {
    right: 0;
    top: -10px;
  }
  img {
    width: 82px;
    height: 88px;
  }
}
.sign-attest-page {
  padding: 104px 20px 20px;
  height: 100vh;;
  min-height: auto;
  overflow: auto;
  &.has-attest{
    padding-top: 20px;
    height: calc(100vh - 130px);
  }
  .tab-list {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 82px;
    padding-left: 20px;
    border-bottom: 5px solid #dfdfdf;
    background-color: white;
    color: $text-color-gray;
    font-size: 26px;
    z-index: 10;
    .tab-item {
      position: relative;
      padding: 0 20px;
      height: 100%;
      &.active {
        color: $text-color;
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          width: 50%;
          left: 50%;
          height: 5px;
          transform: translateX(-50%);
          background-color: $text-color;
        }
      }
      .notice-count{
        right: -8px;
        top: 8px;
      }
    }
  }
  .sign-item{
    background-color: white;
    padding: 20px 30px;
    margin-top: 22px;
    border-radius: 8px;
    justify-content: space-between;
    .left{
      flex: 1;
    }
    .name{
      font-family: PingFangSC-Semibold;
    }
    .no{
      color: $text-color-gray;
      line-height: 40px;
    }
  }
  .sign-btn{
    width: 120px;
    height: 48px;
    margin-left: 30px;
  }
  .sing-history-link{
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}
