@charset "utf-8";
.virus-promise-page {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(#e92a28, #e3550f);
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .total-outline {
    position: absolute;
    top: 35vw;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 26px;
    line-height: 1;
    p:first-child {
      margin-bottom: 20px;
    }
    .stress {
      color: #a5160c;
    }
  }
  .video-wrap{
    position: absolute;
    top: 58vw;
    left: 50%;
    transform: translateX(-50%);
    width: 62.5vw;
    height: 35vw;
    z-index: 2;
    // overflow: hidden;
    &.hidden{
      left: -1000px;
    }
  }
  .video{
    width: 62.5vw;
    height: 35vw;
    background: url('../img/virus/video-bg.jpeg') no-repeat;
    background-size: 100% 100%;
  }
  .barrage-container{
    top: 97vw;
    bottom: 20vw;
    z-index: 2;
  }
  .btn {
    width: 50%;
    height: 80px;
    line-height: 80px;
    .van-button__text {
      color: #a93404;
    }
    font-size: 34px;
  }
  .promise-btn {
    position: absolute;
    bottom: 30px;
    left: 25%;
  }
  .promise-form {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    .van-action-sheet__content {
      position: relative;
      padding-bottom: 26px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 20vw;
        height: 40px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9));
      }
    }
    .content{
      position: relative;
      height: 640px;
      width: 100%;
      padding: 26px 32px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    .van-field {
      padding: 0;
      overflow: visible;
      margin-bottom: 24px;
      .van-cell__title {
        width: 120px;
        display: flex;
        align-items: center;
      }
      .van-cell__value {
        padding: 16px;
        background: white;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        input {
          line-height: 1.8;
        }
      }
      &:after {
        border: none;
      }
      &.no-border{
        .van-cell__value{
          padding: 16px 0;
          box-shadow: none;
        }
        .van-field__control{
          color: #999;
        }
      }
    }
    .submit-btn{
      margin-top: 32px;
    }
    .promise-item{
      min-height: 90px;
      padding: 10px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      border: 1px solid $border-color;
      text-align: center;
      margin-bottom: 10px;
      border-radius: 8px;
      &.active{
        background: #ffedea;
        color: #e92b27;
        border: 1px solid #e92b27;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .video{
    top: 57vw !important;
  }
  .barrage-container{
    top: 95vw !important;
    bottom: 18vw !important;
  }
}