//   薪资列表页
.wage-list-page {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 98px;
    padding-top: 90px;
    .star {
      letter-spacing: 6px;
      padding-left: 6px;
    }
    .van-dropdown-menu{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 10;
      .group-list{
        padding: 0 30px;
      }
      .group-item {
        line-height: 1.4;
        padding: 24px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 26px;
        border-bottom: 1px solid $border-color;
        position: relative;
        .icon-yilizhi {
          position: absolute;
          z-index: 50;
          right: 10px;
          top: 6px;
          width: 100px;
          text-align: center;
          line-height: 64px;
          font-size: 60px;
          color: #6f8f8f;
        }
        .icon-jiaobiao {
          position: absolute;
          right: 20px;
          top: -4px;
          font-size: 30px;
          line-height: 30px;
          color: #fb5d5d;
          &:after {
            content: '新';
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            font-display: 18px;
            line-height: 28px;
            color: white;
          }
        }
        .group-name {
          width: 480px;
          word-break: break-all;
        }
      }
    }
    
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: -1；;
    }
    .bill-list {
      padding: 0 30px;
      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;
        height: 140px;
        &:active {
          .bill-main {
            transform: scale(0.9);
          }
        }
        &:last-child {
          margin-bottom: 0;
          .bill-date {
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .bill-date {
      position: relative;
      font-size: 22px;
      line-height: 30px;
      width: 60px;
      text-align: center;
      color: #666666;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -2px;
        bottom: -128px;
        width: 4px;
        height: 128px;
        background: #e7eaee;
      }
    }
    .bill-main {
      display: flex;
      padding: 30px 10px 30px 30px;
      width: 516px;
      height: 148px;
      position: relative;
      background: url('../img/bill-item-bg.png') no-repeat;
      background-size: 100% 100%;
    }
    .item_before {
      position: absolute;
      left: 4px;
      top: 2px;
      height: 141px;
      width: 8px;
      border-radius: 8px 0 0 8px;
      background: $theme-color;
    }
    .bill-left {
      width: 56%;
    }
    .bill-type {
      height: 34px;
      line-height: 34px;
      font-size: 24px;
      @extend %text-overflow;
      i,
      span {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        margin-right: 5px;
        font-size: 40px;
      }
    }
    .bill-name {
      margin-top: 17px;
      width: 250px;
      font-size: 22px;
      line-height: 30px;
      color: #999999;
      @extend %text-overflow;
      margin-left: 4px;
    }
    .bill-right {
      flex: 1;
      justify-content: center;
      width: 170px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .bill-amt {
      line-height: 1.2;
      font-size: 32px;
    }
    .pop-dialog {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 40px 35px 60px;
      width: 500px;
      box-sizing: border-box;
    }
    .content {
      font-size: 26px;
      color: #333333;
      font-weight: bold;
      line-height: 44px;
      text-indent: 2em;
      .blue-btn {
        box-shadow: 0 8px 24px 0 rgba(82, 189, 189, 0.5);
        font-size: 28px;
        width: 250px;
        height: 70px;
        margin-top: 50px;
        position: relative;
        left: 50%;
        top: 0;
        margin-left: -125px;
      }
    }
    .proportion {
      height: 284px;
    }
    .pro-bottom {
      &:before {
        background: url('../img/icon-left1.png') no-repeat center;
        background-size: 37px 22px;
      }
      &:after {
        background: url('../img/icon-right1.png') no-repeat center;
        background-size: 37px 22px;
      }
    }
  }
  .bill-status {
    padding: 0 10px;
    line-height: 1.5;
    border-radius: 4px;
    font-size: 20px;
    &.success {
      color: $theme-color;
      border: 1px solid $theme-color;
    }
    &.error {
      color: $theme-reverse-color;
      border: 1px solid $theme-reverse-color;
    }
  }