@charset "utf-8";

.wallet-page {
  .white-box {
    padding-top: 20px;
    background-color: white;
  }
  .filter-wrap {
    height: 80px;
    @include flex-between;
    padding-left: 25px;
    background: white;
    .filter-date-bar{
      @include flex-center;
    }
    .van-dropdown-menu{
      height: 100%;
      &__bar{
        height: 100%;
        img{
          width: 30px;
          height: 30px;
        }
      }
      &__title{
        padding: 0 25px;
        line-height: 1;
        &::after{
          display: none;
        }
      }
    }
    .van-dropdown-item{
      &__content{
        padding: 0 30px 25px;
      }
      .van-button{
        width: 160px;
        margin-left: 50px !important;
        margin-top: 25px;
        &:nth-of-type(1), &:nth-of-type(4){
          margin-left: 0 !important;
        }
        color: $text-color-gray;
        &.active{
          color: $text-color;
          border-color: $text-color;
        }
      }
    }
    .triangle{
      @include triangle(bottom, 8px, $text-color);
      margin-left: 12px;
    }
    .van-button__text{
      @include flex-center;
      min-width: 100px;
    }
    .van-button + .van-button{
      margin-left: 20px;
    }
  }
}

.flow-month {
  height: 48px;
  line-height: 48px;
  background-color: $border-color;
  color: $text-color-gray;
  text-indent: 30px;
}
/* 钱包记录 */
.wage-flow-item {
  position: relative;
  padding: 22px 63px 22px 30px;
  background-color: white;
  line-height: 1;
  border-bottom: 1px solid $border-color;
  &__top,
  &__bottom {
    @include flex-center(flex);
    justify-content: space-between;
  }
  &__top {
    margin-bottom: 12px;
    @extend %title;
  }
  &__title {
    width: 380px;
    @extend %text-overflow;
  }
  &__money {
    color: $money-text-color;
  }
  &__date {
    font-size: 20px;
    line-height: 28px;
    color: $text-color-gray;
  }
  &__status {
    .van-tag {
      font-size: 20px;
    }
  }
}

/* 余额概览 */
.balance-outline {
  padding: 22px 30px;
  background: white;
  .balance-value {
    font-size: 60px;
    line-height: 84px;
    margin-bottom: 10px;
  }
  .balance-desc {
    color: $text-color-gray;
    font-size: $fontsize-default;
  }
}

.balance-item {
  position: relative;
  padding: 14px 0 22px;
  background: white;
  margin-top: 16px;
  &__title,&__value,&__footer,.error-text, .theme-text{ // 扩大点击区域
    padding-left: 30px;
    padding-right: 30px;
  }
  &__title {
    display: flex;
    align-items: center;
    @extend %title;
    margin-bottom: 10px;
  }
  &__value {
    display: flex;
    align-items: center;
    line-height: 40px;
    margin-bottom: 36px;
    font-size: $fontsize-m;
    .van-tag {
      margin-left: 20px;
    }
  }
  &__footer {
    @include flex-between;
    font-size: 20px;
    height: 28px;
  }
  &__action {
    position: absolute;
    width: 120px;
    right: 30px;
    top: 72px;
    height: 48px;
  }
  .error-text {
    line-height: 1;
  }
  .line{
    margin-left: 30px;
    margin-right: 30px;
  }
  .count-down{
    padding-left: 10px;
  }
}
/* 提现详情 */
.withdrawal-detail-page {
  padding: 25px 30px 100px;
  background-color: white;
  .withdrawal-outline {
    text-align: center;
    &__value {
      font-size: 50px;
      line-height: 70px;
    }
  }
  .row-flex {
    .label {
      width: 130px;
    }
  }
  .withdrawal-steps {
    .van-step__line {
      width: 6px;
      left: -32px;
    }
  }
}
.withdrawal-steps {
  padding: 30px 0;
  .step-item {
    display: flex;
    min-height: 110px;
    &:last-child {
      .step-item__line {
        &::before {
          background-color: white;
        }
      }
    }
    &--finish, &--active{
      .step-item__line {
        &::before {
          background-color: #CCF5F5;
        }
        &::after {
          background-color: $theme-color;
        }
      }
      .step-item__title{
        @extend .normal-text;
      }
    }
    &--active{
      .step-item__line {
        &::before {
          background-color: #E9EFF2;
        }
        &::after {
          @include circle(20px);
          top: 10px;
          margin-left: -10px;
        }
      }
      .step-item__title{
        color: $theme-color;
      }
      &.step-item--error{
        .step-item__line {
          &::after {
            background-color: $error-color;
          }
        }
        .step-item__title{
          color: $error-color;
        }
      }
    }
    &__line {
      position: relative;
      width: 40px;
      margin-right: 10px;
      &::before {
        position: absolute;
        left: 50%;
        top: 12px;
        margin-left: -2px;
        content: '';
        width: 4px;
        height: 100%;
        background-color: #E9EFF2;
      }
      &::after {
        position: absolute;
        content: '';
        @include circle(12px);
        top: 12px;
        left: 50%;
        margin-left: -6px;
        background-color: #E9EFF2;
      }
    }
    &__content {
      flex: 1;
    }
    &__title {
      font-size: 28px;
      font-family: PingFangSC-Semibold;
      line-height: 44px;
      @extend .gray-text;
    }
    &__desc {
      line-height: 36px;
      @extend .gray-text;
      word-break: break-all;
      &--error{
        color: $error-color;
      }
    }
  }
}
// 提现确认页面
.withdrawal-confirm-page{
  padding-bottom: 110px;
  .title-gray,.row-flex{
    padding-left: 30px;
    padding-right: 30px;
    .label{
      width: 130px;
    }
  }
  .van-action-sheet__item{
    text-align: left;
  }
}

.tax-signup-action-sheet{
  padding-bottom: 50px;
  .van-action-sheet__header{
    margin-bottom: 20px;
  }
  .signup-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
  }
  .van-button{
    width: 160px;
    border-radius: 4px;
  }
  .success-text{
    width: 160px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .van-icon{
      margin-right: 4px;
    }
  }
}

.upload-identity-page{
  background-color: white;
  .info-box{
    padding: 10px 40px;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    .value{
      color: $text-color-tip;
    }
  }
}
