// 福利货柜(礼品选择列表)
.exchange{
  .item{
    background: #fff;
    margin-top: px2rem(20px);
    .title{
      height: px2rem(80px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #EBEBEB;
      padding: 0 px2rem(30px);
      @include font-dpr(26px);
      .title-l{
        color: #808080;
      }
      .title-r{
        color: #DE4444;
        display: flex;
        align-items: center;
        span{
          margin-left: px2rem(5px);
          color: #B3B3B3;
        }
      }
    }
  }
}

