// 福利货柜(礼品选择列表)
.exchange-page{
  .item{
    background: #fff;
    margin-top: 20px;
    &:first-child{
      margin-top: 0;
    }
    .title{
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #EBEBEB;
      padding: 0 30px;
      font-size: 26px;
      .title-l{
        color: #808080;
      }
      .title-r{
        color: $welfare-theme-color;
        display: flex;
        align-items: center;
        span{
          margin-left: 5px;
          color: #B3B3B3;
        }
      }
    }
  }
}

