@charset "utf-8";
.welfare-list-page{
  padding: px2rem(20px) px2rem(30px);
  .welfare-item{
    position: relative;
    border: 1px solid $border-color;
    border-radius: 2px;
    background: white;
    &:not(:first-child){
      margin-top: px2rem(20px);
    }
    .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 px2rem(20px);
      display: flex;
      height: px2rem(80px);
      .name{
        flex: 1;
        @include font-dpr(28px);
        @extend %text-overflow;
      }
      .right{
        margin-left: 5px;
        display: flex;
      }
      .finished{
        position: absolute;
        top: 0;
        right: px2rem(20px);
        height: px2rem(80px);
      }
      .status{
        &.green{
          color: $theme-color;
        }
        &.orange{
          color: $warning-color;
        }
      }
      .num{
        margin-left: 5px;
        &::before{
          content: '|';
          color: #D2D2D2;
          margin-right: 5px;
        }
      }
    }
    .img{
      width: 100%;
      height: px2rem(230px);
      display: block;
    }
    .time{
      height: px2rem(100px);
      display: flex;
      align-items: center;
      padding-left: px2rem(20px);
      color: #808080;
    }
  }
}
