@charset "utf-8";
.order-detail-page{
  .real-goods{
    padding-bottom: 120px;
    .img-status{
      width: 100%;
      display: block;
    }
    .receive-address{
      position: relative;
      background: white;
      padding: 24px 30px 24px 76px;
      border-bottom: 1px solid $border-color;
      .location{
        position: absolute;
        left: 30px;
        top: 24px;
        font-size: 30px;
      }
      .name{
        font-size: 30px;
        line-height: 1;
        margin-bottom: 10px;
      }
      .detail{
        word-break: break-all;
        font-size: 26px;
        color: #808080;
      }
    }
    .logistics-wrap{
      border-bottom: 1px solid $border-color;
      padding: 30px;
      background: white;
      text-align: center;
      .van-button{
        height: 72px;
        width: 400px;
        font-size: 26px;
      }
    }
    .row{
      padding: 24px 30px;
      display: flex;
      align-items: center;
      background: white;
      border-top: 1px solid $border-color;
      font-size: 30px;
      .value{
        flex: 1;
        color: #808080;
      }
      .svg-icon{
        display: inline-block;
        padding: 6px 10px;
      }
    }
    .fixed-bottom-wrap{
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: white;
      height: 98px;
      line-height: 98px;
      font-size: 28px;
      box-shadow: 0 -4px 6px 0 rgba(0,0,0,0.05);
      text-align: center;
      a{
        color: $welfare-theme-color;
      }
    }
  }
  .desc-wrap{
    padding: 24px 30px 10px;
    background: white;
    margin-bottom: 20px;
    .row{
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;
      font-size: 28px;
    }
    .label{
      width: 140px;
      color: #808080;
    }
    .value{
      flex: 1;
      text-align: right;
      word-break: break-all;
      &.success{
        color: $theme-color;
      }
      &.waiting{
        color: $warning-color;
      }
      &.fail{
        color: $theme-reverse-color;
      }
    }
  }
  .card-wrap{
    padding: 20px 20px 0;
  }
  .card{
    width: 600px;
    min-height: 198px;
    background: url('../img/welfare/virtual-order-bg.png') no-repeat;
    background-size: 100% 100%;
    color: white;
    .status{
      font-display: 38px;
      line-height: 198px;
      text-align: center;
    }
    .row{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 524px;
      min-height: 98px;
      padding: 14px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin: 0 auto;
      &:last-child{
        border: none;
      }
      .copy-btn{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 92px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        border-radius: 42px;
        border: 1px solid #FF9786;
        background: rgba(255,255,255,0.10);
      }
      .label{
        opacity: 0.7;
        font-display: 26px;
        margin-bottom: 4px;
      }
      .value{
        font-display: 30px;
        padding-right: 100px;
        word-break: break-all;
      }
    }
    .starbucks-text{
      height: 106px;
      padding-left: 30px;
      display: flex;
      align-items: center;
      font-size: 30px;
      .star{
        opacity: 0.5;
      }
    }
    .starbucks-btn{
      height: 52px;
      padding: 0 20px;
      background-image: linear-gradient(90deg, #FFB842 0%, #FF9F00 98%);
      border-radius: 4px;
      margin-left: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: white;
      &::after{
        content: '';
        @include v-arrow(right, 4px, 10px);
        margin-left: 4px;
      }
    }
  }
  .date{
    height: 50px;
    background: #FFE8C7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E9871C;
  }
}