// 福利货柜(礼品选择列表)
.welfare-index{
  height: 100%;
  overflow: hidden;
  position: relative;
  background: url('../img/welfare/activity-bg.png') no-repeat left top;
  background-size: 100% auto;
    .goods-desc{
      width: 100%;
      position: absolute;
      top: px2rem(232px);
      text-align: center;
      @include font-dpr(28px);
      color: #DF402F;
    }
    .main{
      width: 100%;
      height: 200px;
      position: absolute;
      top: px2rem(460px);
      padding: 0 px2rem(28px);
      .img1{
        margin-top: 10px;
      }
      .img2{
        float: right;
      }
      .wish{
        padding: 0 px2rem(12px);
        @include font-dpr(30px);
        color: #9E0B0B;
      }
      .btn{
        margin: px2rem(100px) auto px2rem(40px);
        width: px2rem(560px);
        height: px2rem(90px);
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: px2rem(4px);
        @include font-dpr(32px);
        box-shadow: 0 2px 7px 0 #D32929, inset 0 3px 1px 0 rgba(255,255,255,0.56);
        &.active{
          background-image: linear-gradient(-180deg, #FEE3BD 0%, #F6AD74 100%);
          color: #AB5B1A;
        }
        &.active-no{
          background-image: linear-gradient(-180deg, #F9DFDE 0%, #D5BFBA 100%);
          color: #966262;
        }
      }
      .record{
        @include font-dpr(26px);
        color: #F7B883;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .arrow {
          @include v-arrow(right, 1px, px2rem(12px));
        }
      }
    }
  .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: px2rem(70px);
    background: #CD2D2D;
    @include font-dpr(24px);
    color: #FFB5B5;
    display: flex;
    align-items: center;
    justify-content: center;
    .company{
      color: #fff;
    }
  }
}

