
.welfare-detail-page{
  min-height: 100%;
  position: relative;
  background: url('../img/welfare/activity-detail-bg-line.png') repeat-y;
  background-size: 100% auto;
  padding-bottom: 70px;
  .goods-bg{
    height: 520px;
    background: url('../img/welfare/activity-detail-bg.png') no-repeat;
    background-size: 100% auto;
  }
    .goods-desc{
      width: 100%;
      position: absolute;
      top: 232px;
      text-align: center;
      font-size: 28px;
      color: #DF402F;
    }
    .main{
      width: 100%;
      position: relative;
      top: -40px;
      padding: 0 28px;
      .img2{
        float: right;
      }
      .wish{
        padding: 0 12px;
        font-size: 30px;
        color: #9E0B0B;
        word-break: break-all;
      }
      .btn{
        margin: 80px auto 20px;
        width: 560px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 4px;
        font-size: 32px;
        box-shadow: 0 4px 14px 0 #D32929, inset 0 6px 2px 0 rgba(255,255,255,0.56);
        &.active{
          background-image: linear-gradient(-180deg, #FEE3BD 0%, #F6AD74 100%);
          color: #AB5B1A;
        }
        &.disabled{
          background-image: linear-gradient(-180deg, #F9DFDE 0%, #D5BFBA 100%);
          color: #966262;
        }
      }
      .record{
        padding: 10px;
        font-size: 26px;
        color: #F7B883;
        display: flex;
        align-items: center;
        justify-content: center;
        .arrow {
          @include v-arrow(right, 1px, 12px);
        }
      }
    }
  .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #CD2D2D;
    font-size: 24px;
    color: #FFB5B5;
    display: flex;
    align-items: center;
    justify-content: center;
    .company{
      max-width: 480px;
      @extend %text-overflow;
      color: #fff;
      padding: 0 4px;
    }
  }
}

