@charset "utf-8";
@mixin position($left, $top) {
  position: absolute;
  left:  $left * 640 / 750;
  top:  $top * 640 / 750;
}
@mixin area($width, $height) {
  width:  $width * 640 / 750;
  height:  $height * 640 / 750;
}
.year-bill-page{
  height: 100%;
/*  display: flex;
  flex-direction: column;*/
  background: #fff;
  .my-swipe{
    height: 100%;
  }
  .van-swipe__track{
    height: 100%;
  }
  .van-swipe-item {
    height: 100%;
    font-size: 20px;
  }
  .wrap{
    width: 100%;
    height: 100%;
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
    .font1{
      font-family: PingFangSC-Semibold;
      font-size: 34px;
      color: #EC3616;
     }
    .font2{
      font-family: PingFang-SC-Medium;
      font-size: 18px;
      color: #B48C62;
    }
    .font3{
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #B48C62;
    }
    .p1-d1{
      @include position(134px, 197px)
    }
    .p1-d2{
      @include position(363px, 456px)
    }
    .p1-d3{
      @include position(330px, 683px)
    }
    .p1-d4{
      @include position(0px, 826px);
      text-align: center;
      width: 100%;
      height: 50px;
      line-height: 50px;
    }
    .p2-d1{
      @include position(130px, 236px)
    }
    .p2-d2{
      @include position(130px, 456px)
    }
    .p2-d3{
      @include position(352px, 610px);
      width: 60px;
      text-align: center;
    }
    .p2-d4{
      @include position(0px, 710px);
      text-align: center;
      width: 100%;
      height: 50px;
      line-height: 50px;
    }
    .p2-d5{
      @include position(0px, 826px);
      text-align: center;
      width: 100%;
      height: 50px;
      line-height: 50px;
    }
    .p3-d1{
      @include position(0px, 346px);
      height: 400px;
      width: 100%;
      padding: 0 110px;
      .cell{
        margin-top: 26px;
        .info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;
          line-height: 50px;
          .source{
            font-size: 26px;
            color: #B48C62;
            font-family: YRDZST-Medium;
          }
          .data-box{
            display: flex;
            align-items: center;
            .money{
              font-family: PingFangSC-Semibold;
              font-size: 24px;
              color: #EC3616;
            }
            .percent{
              font-family: PingFangSC-Regular;
              font-size: 22px;
              color: #B48554;
              margin-left: 20px;
            }
          }
        }
      }
    }
    .p3-d2{
      @include position(0px, 826px);
      text-align: center;
      width: 100%;
      height: 50px;
      line-height: 50px;
    }
    .p4-d1{
      @include position(130px, 240px);
      letter-spacing: -3px;
    }
    .p4-d2{
      @include position(326px, 350px)
    }
    .p4-d3{
      @include position(135px, 529px)
    }
    .p4-d4{
      @include position(135px, 591px)
    }
    .p4-d5{
      @include position(355px, 679px)
    }
    .p4-d6{
      @include position(0px, 826px);
      text-align: center;
      width: 100%;
      height: 50px;
      line-height: 50px;
    }
    .p5-d1{
      @include position(131px, 261px);
      padding-right: 50px;
      line-height: 40px;
    }
    .p5-d2{
      @include position(396px, 349px)
    }
    .p5-d3{
      @include position(169px, 561px)
    }
    .p5-d4{
      @include position(131px, 696px)
    }
    .p6-d1{
      @include position(296px, 184px);
      width: 80px;
      text-align: center;

    }
    .p6-d2{
      @include position(0px, 271px);
      width: 100%;
      text-align: center;
      img{
        width: 287px;
        height: 143px;
      }
    }
    .p6-d3{
      @include position(0px, 480px);
      text-align: center;
      width: 100%;
      height: 50px;
      line-height: 50px;
    }
    .p6-d4{
      @include position(0px, 764px);
      padding: 0 50px;
      width: 100%;
      .desc{
        font-size: 26px;
        color: #FEEAD2;
        height: 60px;
        line-height: 60px;
        text-align: left;
      }
      .recommend-box{
        background-image: linear-gradient(-180deg, #FFFFFF 0%, #FEEED6 100%);
        border-radius: 20px;
        width: 100%;
        height: 170px;
      }
    }
    .p9-d1{
      @include position(165px, 690px);
      @include area(420px, 340px);
    }
    .next{
      width: 100%;
      height: 40px;
      position: absolute;
      bottom: 40px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      color: #00CCCC;
    //  background: yellow;
      img{
        width: 28px;
        height: 23px;
        margin-right: 10px;
       /* -webkit-animation: move5 1.5s ease-in infinite alternate;
        animation: move5 1.5s ease-in infinite alternate;*/
      }
    }
  }
  .first-page{
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
    .open-box{
      @include position(251px, 791px);
      @include area(248px, 248px);
      display: flex;
      align-items: center;
      justify-content: center;
      .circle1{
        @include area(192px, 192px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        animation: move 1.5s ease-in 0s infinite alternate;
        -webkit-animation: move 1.5s ease-in 0s infinite alternate;
      }
      .circle2{
        @include area(218px, 218px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        animation: move 1.5s ease-in 0.5s infinite alternate;
        -webkit-animation: move 1.5s ease-in 0.5s infinite alternate;
      }
      .circle3{
        @include area(248px, 248px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        animation: move 1.5s ease-in 1s infinite alternate;
        -webkit-animation: move 1.5s ease-in 1s infinite alternate;
      }
      .open-btn{
        @include area(170px, 170px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
      .text-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFF2D2;
        .progress{
          font-size: 34px;
          font-family: Exo2-ExtraBoldItalic;
          font-weight: bold;
          font-style: oblique
        }
        .start-desc{
          font-size: 18px;
          letter-spacing: 4px;
        }
      }
    }
  }
}
.year-bill-popup{
  .van-popup{
    background: transparent;
  }
  .wrap{
    text-align: center;
    width: 100%;
    height: 100%;
    img{
      @include area(727px, 770px);
    }
    .not-notice{
      font-size: 24px;
      color: #FFFFFF;
    }
  }

}
.year-bill-entry{
  width: 116px;
  height: 140px;
  position: fixed;
  top: 138px;
  right: 0;
  z-index: 10;
  img{
    width: 100%;
    height: 100%;
  }
}

